Repository saleor/saleor, pull requests merged in 2018-04, with the labels that each got.

#2044 Upgrade node dependencies and fix package.json commands
  package-lock.json
  package.json
  webpack.config.js
Labels: technical debt

#2053 Rebuild translation source files
  locale/en/LC_MESSAGES/django.mo
  locale/en/LC_MESSAGES/django.po
  locale/en/LC_MESSAGES/djangojs.mo
  locale/en/LC_MESSAGES/djangojs.po
  saleor/dashboard/locale/en/LC_MESSAGES/django.mo
  saleor/dashboard/locale/en/LC_MESSAGES/django.po
Labels: i18n

#2040 Move API into one place
  saleor/dashboard/graphql/__init__.py
  saleor/dashboard/graphql/api.py
  saleor/dashboard/graphql/core/__init__.py
  saleor/dashboard/graphql/page/__init__.py
  saleor/dashboard/graphql/page/mutations.py
  saleor/dashboard/graphql/page/types.py
  saleor/dashboard/graphql/product/__init__.py
  saleor/dashboard/graphql/product/filters.py
  saleor/dashboard/graphql/product/types.py
  saleor/dashboard/graphql/utils.py
  saleor/dashboard/urls.py
  saleor/graphql/api.py
  saleor/graphql/core/decorators.py
  saleor/graphql/core/mutations.py
  saleor/graphql/page/mutations.py
  saleor/graphql/page/types.py
  saleor/graphql/product/filters.py
  saleor/graphql/product/forms.py
  saleor/graphql/product/mutations.py
  saleor/graphql/product/types.py
  saleor/graphql/utils.py
  tests/dashboard/test_graphql.py
  tests/test_graphql.py
Labels: api, dashboard

#2073 Add collections to product data
  saleor/graphql/product/types.py
  tests/test_graphql.py
Labels: api

#2062 API product type endpoints
  saleor/graphql/api.py
  saleor/graphql/page/resolvers.py
  saleor/graphql/page/types.py
  saleor/graphql/product/mutations.py
  saleor/graphql/product/resolvers.py
  saleor/graphql/product/types.py
  tests/test_graphql.py
Labels: api, discussion

#2082 Add custom CreateToken mutation
  saleor/graphql/api.py
  saleor/graphql/core/mutations.py
  saleor/graphql/core/types.py
  saleor/graphql/product/types.py
  tests/test_graphql.py
Labels: api

#2091 Api endpoints for product variants
  saleor/graphql/api.py
  saleor/graphql/core/mutations.py
  saleor/graphql/product/forms.py
  saleor/graphql/product/mutations.py
  saleor/graphql/product/types.py
  tests/api/__init__.py
  tests/api/test_category.py
  tests/api/test_graphql.py
  tests/api/test_page.py
  tests/api/test_product.py
  tests/api/test_variant.py
Labels: api

#2113 Update translation sources
  locale/en/LC_MESSAGES/django.mo
  locale/en/LC_MESSAGES/django.po
  locale/en/LC_MESSAGES/djangojs.mo
  locale/en/LC_MESSAGES/djangojs.po
  saleor/dashboard/locale/en/LC_MESSAGES/django.mo
  saleor/dashboard/locale/en/LC_MESSAGES/django.po
Labels: i18n

#2112 Change attributes representation in API query result
  saleor/graphql/api.py
  saleor/graphql/product/types.py
  tests/api/test_graphql.py
  tests/api/test_product.py
  tests/api/test_variant.py
Labels: api

#2043 Add Customer Notes
  saleor/account/migrations/0018_auto_20180426_0641.py
  saleor/account/models.py
  saleor/core/migrations/__init__.py
  saleor/core/models.py
  saleor/dashboard/customer/forms.py
  saleor/dashboard/customer/urls.py
  saleor/dashboard/customer/views.py
  saleor/order/models.py
  templates/dashboard/customer/detail.html
  templates/dashboard/customer/modal/add_note.html
  templates/dashboard/order/detail.html
  templates/materializecssform/field.html
  tests/dashboard/test_customer.py
Labels: dashboard

#2124 Add storyshots
  package-lock.json
  package.json
  saleor/static/dashboard-next/storybook/.babelrc
  saleor/static/dashboard-next/storybook/Stories.test.ts
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
  saleor/static/dashboard-next/storybook/config.js
  saleor/static/dashboard-next/storybook/webpack.config.js
Labels: react
