Repository saleor/saleor, pull requests merged in 2018-02, with the labels that each got.

#1781 Fix visibility issue of dropdowns in dashboard
  saleor/static/dashboard/scss/components/_card-collapse.scss
Labels: frontend

#1775 Fix accessing index of empty list case
  saleor/product/forms.py
  tests/test_product.py
Labels: bug

#1794 Update dependencies
  requirements.txt
Labels: technical debt

#1795 Make GraphQL connections countable
  saleor/graphql/api.py
  saleor/graphql/core/filters.py
  saleor/graphql/core/types.py
  saleor/graphql/product/filters.py
  saleor/graphql/product/types.py
  tests/test_graphql.py
Labels: api

#1798 Add Transifex commands to customization docs
  docs/customization.rst
  docs/customization/i18n.rst
Labels: documentation, i18n

#1804 Use the scalar, clean up code, add a large test
  saleor/graphql/api.py
  saleor/graphql/product/fields.py
  saleor/graphql/product/filters.py
  saleor/graphql/product/scalars.py
  saleor/graphql/product/types.py
  saleor/graphql/utils.py
  saleor/static/schema.json
  tests/test_graphql.py
Labels: api

#1801 ModelForm-based mutations
  saleor/dashboard/graphql/__init__.py
  saleor/dashboard/graphql/api.py
  saleor/dashboard/graphql/mutations.py
  saleor/dashboard/graphql/product/__init__.py
  saleor/dashboard/graphql/product/mutations.py
  saleor/dashboard/urls.py
  saleor/graphql/api.py
  saleor/graphql/core/types.py
  saleor/graphql/product/types.py
  saleor/graphql/utils.py
  saleor/settings.py
  saleor/static/schema.json
  saleor/urls.py
  tests/dashboard/test_graphql.py
  tests/test_graphql.py
  tests/utils.py
Labels: api

#1807 Add kwargs in connections resolvers
  saleor/dashboard/graphql/api.py
  saleor/graphql/api.py
  saleor/graphql/product/types.py
  tests/test_graphql.py
Labels: api

#1813 Fix bug with sending email during the checkout
  saleor/checkout/views/summary.py
  tests/test_checkout_integration.py
  tests/test_order.py
Labels: bug, storefront

#1817 Improve tooling config, add automated isort check
  .codeclimate.yml
  .pylintrc
  setup.cfg
Labels: technical debt
