Repository saleor/saleor, pull requests merged in 2018-05, with the labels that each got.

#2123 Endpoints for account details
  saleor/graphql/account/__init__.py
  saleor/graphql/account/types.py
  saleor/graphql/api.py
  saleor/graphql/core/mutations.py
  tests/api/test_account.py
  tests/api/test_graphql.py
Labels: api

#2136 Building Storybook
  package.json
Labels: react

#2164 Add space to opening brackets in tests
  tests/api/test_account.py
  tests/api/test_product.py
  tests/api/test_variant.py
Labels: api

#2158 Update readme
  README.md
Labels: in progress

#2194 Order endpoints
  requirements.in
  requirements.txt
  saleor/graphql/account/types.py
  saleor/graphql/api.py
  saleor/graphql/core/__init__.py
  saleor/graphql/core/fields.py
  saleor/graphql/core/types.py
  saleor/graphql/order/__init__.py
  saleor/graphql/order/filters.py
  saleor/graphql/order/resolvers.py
  saleor/graphql/order/types.py
  tests/api/test_order.py
  tests/conftest.py
Labels: api

#2204 Add ability to retrieve multiple nodes with one query
  saleor/graphql/utils.py
  tests/api/test_graphql.py
Labels: api

#2213 Drop HotJar from demo
  templates/dashboard/base.html
Labels: demo

#2205 Mutation to create product image
  package-lock.json
  package.json
  requirements.in
  requirements.txt
  saleor/graphql/api.py
  saleor/graphql/core/mutations.py
  saleor/graphql/product/mutations.py
  saleor/graphql/product/types.py
  saleor/static/dashboard-next/gql-types.ts
  saleor/static/dashboard-next/index.tsx
  saleor/static/dashboard-next/products/components/ProductDetailsPage/ProductDetailsPage.tsx
  saleor/static/dashboard-next/products/components/ProductImages/ProductImages.tsx
  saleor/static/dashboard-next/products/components/ProductVariants/ProductVariants.tsx
  saleor/static/dashboard-next/products/mutations.ts
  saleor/static/dashboard-next/products/queries.ts
  saleor/static/dashboard-next/products/views/ProductDetails.tsx
  saleor/static/dashboard-next/schema.json
  saleor/urls.py
  tests/api/test_account.py
  tests/api/test_category.py
  tests/api/test_graphql.py
  tests/api/test_page.py
  tests/api/test_product.py
  tests/api/utils.py
  tests/conftest.py
  tests/dashboard/test_product.py
  tests/utils.py
Labels: api, dashboard

#2166 Add collection endpoints in API
  saleor/graphql/api.py
  saleor/graphql/product/forms.py
  saleor/graphql/product/mutations.py
  saleor/graphql/product/resolvers.py
  saleor/graphql/product/types.py
  tests/api/test_graphql.py
  tests/api/test_product.py
Labels: api, discussion

#2239 Sync translation sources
  locale/en/LC_MESSAGES/django.mo
  locale/en/LC_MESSAGES/django.po
  locale/en/LC_MESSAGES/djangojs.mo
  locale/en/LC_MESSAGES/djangojs.po
  saleor/dashboard/locale/en/LC_MESSAGES/django.mo
  saleor/dashboard/locale/en/LC_MESSAGES/django.po
Labels: i18n
