Repository saleor/saleor, pull requests merged in 2018-06, with the labels that each got.

#2219 Add 'query' parameter to queries for searching
  saleor/graphql/api.py
  saleor/graphql/descriptions.py
  saleor/graphql/order/resolvers.py
  saleor/graphql/page/resolvers.py
  saleor/graphql/product/resolvers.py
  saleor/graphql/utils.py
  tests/api/test_graphql.py
Labels: api

#2248 Update i18n data
  locale/en/LC_MESSAGES/django.mo
  locale/en/LC_MESSAGES/django.po
  locale/en/LC_MESSAGES/djangojs.mo
  locale/en/LC_MESSAGES/djangojs.po
  saleor/dashboard/locale/en/LC_MESSAGES/django.mo
  saleor/dashboard/locale/en/LC_MESSAGES/django.po
Labels: i18n

#2207 Enable pylint on codeclimate
  .codeclimate.yml
  .pylintrc
Labels: technical debt

#2257 Minor fixes
  saleor/static/dashboard-next/components/DateFormatter/DateFormatter.tsx
  saleor/static/dashboard-next/orders/components/OrderHistory/OrderHistory.tsx
  saleor/static/dashboard-next/orders/fixtures.ts
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
  saleor/static/dashboard-next/storybook/stories/components/DateFormatter.tsx
Labels: blocker, react

#2253 Fix filtering categories by level and query
  saleor/graphql/api.py
  tests/api/test_category.py
Labels: api, bug

#2252 Make order line, note and history connections
  saleor/graphql/order/types.py
  tests/api/test_order.py
Labels: api, bug

#2263 Add `customers` app
  package-lock.json
  saleor/static/dashboard-next/category/fixtures.ts
  saleor/static/dashboard-next/components/ActionDialog/ActionDialog.tsx
  saleor/static/dashboard-next/components/ActionDialog/index.ts
  saleor/static/dashboard-next/components/AddressEdit/AddressEdit.tsx
  saleor/static/dashboard-next/components/AddressEdit/index.ts
  saleor/static/dashboard-next/components/AddressFormatter/AddressFormatter.tsx
  saleor/static/dashboard-next/components/AddressFormatter/index.ts
  saleor/static/dashboard-next/components/ExtendedPageHeader/ExtendedPageHeader.tsx
  saleor/static/dashboard-next/components/ExtendedPageHeader/index.ts
  saleor/static/dashboard-next/components/PageHeader/PageHeader.tsx
  saleor/static/dashboard-next/components/StatusLabel/StatusLabel.tsx
  saleor/static/dashboard-next/customers/components/CustomerAddress/CustomerAddress.tsx
  saleor/static/dashboard-next/customers/components/CustomerAddress/index.ts
  saleor/static/dashboard-next/customers/components/CustomerDetails/CustomerDetails.tsx
  saleor/static/dashboard-next/customers/components/CustomerDetails/index.ts
  saleor/static/dashboard-next/customers/components/CustomerDetailsPage/CustomerDetailsPage.tsx
  saleor/static/dashboard-next/customers/components/CustomerDetailsPage/index.ts
  saleor/static/dashboard-next/customers/components/CustomerEditPage/CustomerEditPage.tsx
  saleor/static/dashboard-next/customers/components/CustomerEditPage/index.ts
  saleor/static/dashboard-next/customers/components/CustomerListPage/CustomerListPage.tsx
  saleor/static/dashboard-next/customers/components/CustomerListPage/index.ts
  saleor/static/dashboard-next/customers/components/CustomerOrders/CustomerOrders.tsx
  saleor/static/dashboard-next/customers/components/CustomerOrders/index.ts
  saleor/static/dashboard-next/customers/fixtures.ts
  saleor/static/dashboard-next/customers/index.ts
  saleor/static/dashboard-next/orders/components/OrderAddressEditDialog/OrderAddressEditDialog.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
  saleor/static/dashboard-next/storybook/config.js
  saleor/static/dashboard-next/storybook/stories/components/ActionDialog.tsx
  saleor/static/dashboard-next/storybook/stories/components/AddressEdit.tsx
  saleor/static/dashboard-next/storybook/stories/components/AddressFormatter.tsx
  saleor/static/dashboard-next/storybook/stories/customers/CustomerDetailsPage.tsx
  saleor/static/dashboard-next/storybook/stories/customers/CustomerEditPage.tsx
  saleor/static/dashboard-next/storybook/stories/customers/CustomerListPage.tsx
Labels: in progress, react

#2260 Discount query endpoint
  saleor/graphql/api.py
  saleor/graphql/descriptions.py
  saleor/graphql/discount/__init__.py
  saleor/graphql/discount/resolvers.py
  saleor/graphql/discount/types.py
  saleor/graphql/order/filters.py
  tests/api/test_discount.py
  tests/conftest.py
Labels: api

#2255 Add customer endpoints
  saleor/graphql/account/__init__.py
  saleor/graphql/account/fields.py
  saleor/graphql/account/resolvers.py
  saleor/graphql/account/types.py
  saleor/graphql/api.py
  saleor/graphql/descriptions.py
  tests/api/test_account.py
Labels: api

#2275 Shipping query endpoints
  saleor/graphql/api.py
  saleor/graphql/shipping/__init__.py
  saleor/graphql/shipping/resolvers.py
  saleor/graphql/shipping/types.py
  tests/api/test_shipping_method.py
Labels: api

#2272 Shop settings endpoint
  saleor/core/permissions.py
  saleor/graphql/account/types.py
  saleor/graphql/api.py
  saleor/graphql/core/resolvers.py
  saleor/graphql/core/types.py
  saleor/graphql/utils.py
  tests/api/test_core.py
Labels: api, discussion, in progress

#2256 Menu endpoints
  saleor/graphql/api.py
  saleor/graphql/core/mutations.py
  saleor/graphql/descriptions.py
  saleor/graphql/menu/__init__.py
  saleor/graphql/menu/mutations.py
  saleor/graphql/menu/resolvers.py
  saleor/graphql/menu/types.py
  tests/api/test_menu.py
Labels: api, discussion

#2286 Refactor product details view
  package-lock.json
  package.json
  saleor/static/dashboard-next/categories/components/CategoryEditPage/CategoryEditPage.tsx
  saleor/static/dashboard-next/components/Money/Money.tsx
  saleor/static/dashboard-next/components/RichTextEditor.tsx
  saleor/static/dashboard-next/components/SaveButtonBar/SaveButtonBar.tsx
  saleor/static/dashboard-next/components/SeoForm/SeoForm.tsx
  saleor/static/dashboard-next/customers/components/CustomerEditPage/CustomerEditPage.tsx
  saleor/static/dashboard-next/pages/components/PageDetailsPage/PageDetailsPage.tsx
  saleor/static/dashboard-next/products/components/ProductAttributesForm/ProductAttributesForm.tsx
  saleor/static/dashboard-next/products/components/ProductAvailabilityForm/ProductAvailabilityForm.tsx
  saleor/static/dashboard-next/products/components/ProductCollections/ProductCollections.tsx
  saleor/static/dashboard-next/products/components/ProductCollections/index.ts
  saleor/static/dashboard-next/products/components/ProductDescription/ProductDescription.tsx
  saleor/static/dashboard-next/products/components/ProductDescription/index.ts
  saleor/static/dashboard-next/products/components/ProductDetailsForm/ProductDetailsForm.tsx
  saleor/static/dashboard-next/products/components/ProductDetailsPage/ProductDetailsPage.tsx
  saleor/static/dashboard-next/products/components/ProductDetailsPage/index.ts
  saleor/static/dashboard-next/products/components/ProductImagePage/ProductImagePage.tsx
  saleor/static/dashboard-next/products/components/ProductImages/ProductImages.tsx
  saleor/static/dashboard-next/products/components/ProductPrice/ProductPrice.tsx
  saleor/static/dashboard-next/products/components/ProductPrice/index.ts
  saleor/static/dashboard-next/products/components/ProductPriceAndAvailability/ProductPriceAndAvailability.tsx
  saleor/static/dashboard-next/products/components/ProductPriceAndAvailability/index.ts
  saleor/static/dashboard-next/products/components/ProductUpdatePage/ProductUpdatePage.tsx
  saleor/static/dashboard-next/products/components/ProductVariantPage/ProductVariantPage.tsx
  saleor/static/dashboard-next/products/components/ProductVariants/ProductVariants.tsx
  saleor/static/dashboard-next/products/fixtures.ts
  saleor/static/dashboard-next/products/index.tsx
  saleor/static/dashboard-next/products/views/ProductDetails.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
  saleor/static/dashboard-next/storybook/config.js
  saleor/static/dashboard-next/storybook/stories/collections/CollectionDetails.tsx
  saleor/static/dashboard-next/storybook/stories/collections/CollectionList.tsx
  saleor/static/dashboard-next/storybook/stories/collections/CollectionProducts.tsx
  saleor/static/dashboard-next/storybook/stories/collections/CollectionProperties.tsx
  saleor/static/dashboard-next/storybook/stories/components/FileUpload.tsx
  saleor/static/dashboard-next/storybook/stories/components/SaveButtonBar.tsx
  saleor/static/dashboard-next/storybook/stories/customers/CustomerAddress.tsx
  saleor/static/dashboard-next/storybook/stories/customers/CustomerDetails.tsx
  saleor/static/dashboard-next/storybook/stories/customers/CustomerOrders.tsx
  saleor/static/dashboard-next/storybook/stories/products/ProductAttributesForm.tsx
  saleor/static/dashboard-next/storybook/stories/products/ProductDetailsForm.tsx
  saleor/static/dashboard-next/storybook/stories/products/ProductDetailsPage.tsx
  saleor/static/dashboard-next/storybook/stories/products/ProductImagePage.tsx
  saleor/static/dashboard-next/storybook/stories/products/ProductImages.tsx
  saleor/static/dashboard-next/storybook/stories/products/ProductUpdatePage.tsx
  saleor/static/dashboard-next/storybook/stories/products/ProductVariantPage.tsx
  saleor/static/dashboard-next/storybook/stories/products/ProductVariants.tsx
Labels: react

#2297 Mutations for discounts
  saleor/graphql/api.py
  saleor/graphql/core/mutations.py
  saleor/graphql/core/types.py
  saleor/graphql/discount/mutations.py
  saleor/graphql/discount/types.py
  saleor/graphql/product/mutations.py
  tests/api/test_account.py
  tests/api/test_discount.py
  tests/api/test_product.py
  tests/api/utils.py
Labels: api

#2309 Add `vouchers` section
  saleor/static/dashboard-next/components/Form/Form.tsx
  saleor/static/dashboard-next/components/Money/Money.tsx
  saleor/static/dashboard-next/components/SaveButtonBar/SaveButtonBar.tsx
  saleor/static/dashboard-next/components/SingleAutocompleteSelectField/SingleAutocompleteSelectField.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
  saleor/static/dashboard-next/storybook/config.js
  saleor/static/dashboard-next/storybook/stories/vouchers/VoucherDetailsPage.tsx
  saleor/static/dashboard-next/storybook/stories/vouchers/VoucherListPage.tsx
  saleor/static/dashboard-next/vouchers/components/VoucherDate/VoucherDate.tsx
  saleor/static/dashboard-next/vouchers/components/VoucherDate/index.ts
  saleor/static/dashboard-next/vouchers/components/VoucherDetails/VoucherDetails.tsx
  saleor/static/dashboard-next/vouchers/components/VoucherDetails/index.ts
  saleor/static/dashboard-next/vouchers/components/VoucherDetailsPage/VoucherDetailsPage.tsx
  saleor/static/dashboard-next/vouchers/components/VoucherDetailsPage/index.ts
  saleor/static/dashboard-next/vouchers/components/VoucherList/VoucherList.tsx
  saleor/static/dashboard-next/vouchers/components/VoucherList/index.ts
  saleor/static/dashboard-next/vouchers/components/VoucherListPage/VoucherListPage.tsx
  saleor/static/dashboard-next/vouchers/components/VoucherListPage/index.ts
  saleor/static/dashboard-next/vouchers/components/VoucherProperties/VoucherProperties.tsx
  saleor/static/dashboard-next/vouchers/components/VoucherProperties/index.ts
  saleor/static/dashboard-next/vouchers/fixtures.ts
  saleor/static/dashboard-next/vouchers/index.ts
Labels: react

#2303 Shipping mutations
  saleor/graphql/api.py
  saleor/graphql/core/resolvers.py
  saleor/graphql/core/types.py
  saleor/graphql/shipping/mutations.py
  saleor/graphql/shipping/types.py
  saleor/settings.py
  tests/api/test_shipping_method.py
  tests/conftest.py
Labels: api

#2315 Product image mutations
  saleor/graphql/api.py
  saleor/graphql/product/mutations.py
  saleor/graphql/product/types.py
  tests/api/test_product.py
Labels: api

#2317 Refactor DateFormatter widget
  package-lock.json
  package.json
  saleor/static/dashboard-next/components/DateFormatter/DateFormatter.tsx
  saleor/static/dashboard-next/customers/components/CustomerDetails/CustomerDetails.tsx
  saleor/static/dashboard-next/orders/components/OrderDetailsPage/OrderDetailsPage.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
Labels: in progress, react

#2320 Refactor save buttons
  saleor/static/dashboard-next/categories/components/CategoryEditPage/CategoryEditPage.tsx
  saleor/static/dashboard-next/collections/components/CollectionDetails/CollectionDetails.tsx
  saleor/static/dashboard-next/collections/components/CollectionDetailsPage/CollectionDetailsPage.tsx
  saleor/static/dashboard-next/customers/components/CustomerEditPage/CustomerEditPage.tsx
  saleor/static/dashboard-next/pages/components/PageDetailsPage/PageDetailsPage.tsx
  saleor/static/dashboard-next/products/components/ProductImagePage/ProductImagePage.tsx
  saleor/static/dashboard-next/products/components/ProductUpdatePage/ProductUpdatePage.tsx
  saleor/static/dashboard-next/products/components/ProductVariantPage/ProductVariantPage.tsx
  saleor/static/dashboard-next/products/components/ProductVariantPrice/ProductVariantPrice.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
  saleor/static/dashboard-next/storybook/stories/collections/CollectionDetailsPage.tsx
  saleor/static/dashboard-next/storybook/stories/products/ProductVariantPage.tsx
Labels: react

#2322 Unify list pages props
  saleor/static/dashboard-next/collections/components/CollectionDetails/CollectionDetails.tsx
  saleor/static/dashboard-next/collections/components/CollectionDetailsPage/CollectionDetailsPage.tsx
  saleor/static/dashboard-next/collections/components/CollectionList/CollectionList.tsx
  saleor/static/dashboard-next/collections/components/CollectionListPage/CollectionListPage.tsx
  saleor/static/dashboard-next/components/ProductList/ProductList.tsx
  saleor/static/dashboard-next/customers/components/CustomerListPage/CustomerListPage.tsx
  saleor/static/dashboard-next/fixtures.ts
  saleor/static/dashboard-next/index.tsx
  saleor/static/dashboard-next/orders/components/OrderList/OrderList.tsx
  saleor/static/dashboard-next/orders/components/OrderListPage/OrderListPage.tsx
  saleor/static/dashboard-next/orders/fixtures.ts
  saleor/static/dashboard-next/pages/components/PageList/PageList.tsx
  saleor/static/dashboard-next/pages/components/PageListPage/PageListPage.tsx
  saleor/static/dashboard-next/pages/views/PageList.tsx
  saleor/static/dashboard-next/products/components/ProductListCard/ProductListCard.tsx
  saleor/static/dashboard-next/products/views/ProductList.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
  saleor/static/dashboard-next/storybook/config.js
  saleor/static/dashboard-next/storybook/stories/collections/CollectionDetails.tsx
  saleor/static/dashboard-next/storybook/stories/collections/CollectionDetailsPage.tsx
  saleor/static/dashboard-next/storybook/stories/collections/CollectionList.tsx
  saleor/static/dashboard-next/storybook/stories/collections/CollectionListPage.tsx
  saleor/static/dashboard-next/storybook/stories/collections/CollectionProducts.tsx
  saleor/static/dashboard-next/storybook/stories/collections/CollectionProperties.tsx
  saleor/static/dashboard-next/storybook/stories/customers/CustomerListPage.tsx
  saleor/static/dashboard-next/storybook/stories/orders/OrderList.tsx
  saleor/static/dashboard-next/storybook/stories/orders/OrderListPage.tsx
  saleor/static/dashboard-next/storybook/stories/pages/PageList.tsx
  saleor/static/dashboard-next/storybook/stories/pages/PageListPage.tsx
  saleor/static/dashboard-next/storybook/stories/products/ProductListCard.tsx
  saleor/static/dashboard-next/storybook/stories/vouchers/VoucherListPage.tsx
  saleor/static/dashboard-next/vouchers/components/VoucherList/VoucherList.tsx
  saleor/static/dashboard-next/vouchers/components/VoucherListPage/VoucherListPage.tsx
Labels: react

#2325 Add `product types` section
  saleor/static/dashboard-next/components/MultiAutocompleteSelectField/MultiAutocompleteSelectField.tsx
  saleor/static/dashboard-next/components/MultiAutocompleteSelectField/index.ts
  saleor/static/dashboard-next/productTypes/components/ProductTypeDetails/ProductTypeDetails.tsx
  saleor/static/dashboard-next/productTypes/components/ProductTypeDetails/index.ts
  saleor/static/dashboard-next/productTypes/components/ProductTypeDetailsPage/ProductTypeDetailsPage.tsx
  saleor/static/dashboard-next/productTypes/components/ProductTypeDetailsPage/index.ts
  saleor/static/dashboard-next/productTypes/components/ProductTypeList/ProductTypeList.tsx
  saleor/static/dashboard-next/productTypes/components/ProductTypeList/index.ts
  saleor/static/dashboard-next/productTypes/components/ProductTypeListPage/ProductTypeListPage.tsx
  saleor/static/dashboard-next/productTypes/components/ProductTypeListPage/index.ts
  saleor/static/dashboard-next/productTypes/components/ProductTypeProperties/ProductTypeProperties.tsx
  saleor/static/dashboard-next/productTypes/components/ProductTypeProperties/index.ts
  saleor/static/dashboard-next/productTypes/fixtures.ts
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
  saleor/static/dashboard-next/storybook/config.js
  saleor/static/dashboard-next/storybook/stories/components/MultiAutocompleteSelectField.tsx
  saleor/static/dashboard-next/storybook/stories/productTypes/ProductTypeDetailsPage.tsx
  saleor/static/dashboard-next/storybook/stories/productTypes/ProductTypeListPage.tsx
Labels: react

#2326 Shorten fixtures
  saleor/static/dashboard-next/storybook/stories/components/MultiAutocompleteSelectField.tsx
  saleor/static/dashboard-next/storybook/stories/components/SingleAutocompleteSelectField.tsx
Labels: react
