Repository saleor/saleor, pull requests merged in 2018-09, with the labels that each got.

#2806 Sync with transifex
  locale/de/LC_MESSAGES/django.mo
  locale/de/LC_MESSAGES/django.po
  locale/de/LC_MESSAGES/djangojs.mo
  locale/de/LC_MESSAGES/djangojs.po
  locale/en/LC_MESSAGES/django.mo
  locale/en/LC_MESSAGES/django.po
  locale/en/LC_MESSAGES/djangojs.mo
  locale/en/LC_MESSAGES/djangojs.po
  locale/es/LC_MESSAGES/django.mo
  locale/es/LC_MESSAGES/django.po
  locale/fa_IR/LC_MESSAGES/django.mo
  locale/fa_IR/LC_MESSAGES/django.po
  locale/fr/LC_MESSAGES/django.mo
  locale/fr/LC_MESSAGES/django.po
  locale/tr/LC_MESSAGES/django.mo
  locale/tr/LC_MESSAGES/django.po
  locale/tr/LC_MESSAGES/djangojs.mo
  locale/tr/LC_MESSAGES/djangojs.po
  locale/vi/LC_MESSAGES/django.mo
  locale/vi/LC_MESSAGES/django.po
  saleor/dashboard/locale/de/LC_MESSAGES/django.mo
  saleor/dashboard/locale/de/LC_MESSAGES/django.po
  saleor/dashboard/locale/en/LC_MESSAGES/django.mo
  saleor/dashboard/locale/en/LC_MESSAGES/django.po
  saleor/dashboard/locale/es/LC_MESSAGES/django.mo
  saleor/dashboard/locale/es/LC_MESSAGES/django.po
  saleor/dashboard/locale/fa_IR/LC_MESSAGES/django.mo
  saleor/dashboard/locale/fa_IR/LC_MESSAGES/django.po
  saleor/dashboard/locale/fr/LC_MESSAGES/django.mo
  saleor/dashboard/locale/fr/LC_MESSAGES/django.po
  saleor/dashboard/locale/pl/LC_MESSAGES/django.mo
  saleor/dashboard/locale/pl/LC_MESSAGES/django.po
  saleor/dashboard/locale/tr/LC_MESSAGES/django.mo
  saleor/dashboard/locale/tr/LC_MESSAGES/django.po
  saleor/dashboard/locale/vi/LC_MESSAGES/django.mo
  saleor/dashboard/locale/vi/LC_MESSAGES/django.po
Labels: i18n

#2665 Connect product types
  saleor/core/__init__.py
  saleor/static/dashboard-next/collections/components/CollectionDetailsPage/CollectionDetailsPage.tsx
  saleor/static/dashboard-next/configuration/index.tsx
  saleor/static/dashboard-next/gql-types.ts
  saleor/static/dashboard-next/index.tsx
  saleor/static/dashboard-next/misc.ts
  saleor/static/dashboard-next/productTypes/components/ProductTypeDetailsPage/ProductTypeDetailsPage.tsx
  saleor/static/dashboard-next/productTypes/components/ProductTypeList/ProductTypeList.tsx
  saleor/static/dashboard-next/productTypes/components/ProductTypeProperties/ProductTypeProperties.tsx
  saleor/static/dashboard-next/productTypes/containers/AttributeSearch.tsx
  saleor/static/dashboard-next/productTypes/containers/ProductTypeDelete.tsx
  saleor/static/dashboard-next/productTypes/containers/ProductTypeOperations.tsx
  saleor/static/dashboard-next/productTypes/containers/ProductTypeUpdate.tsx
  saleor/static/dashboard-next/productTypes/fixtures.ts
  saleor/static/dashboard-next/productTypes/index.tsx
  saleor/static/dashboard-next/productTypes/mutations.ts
  saleor/static/dashboard-next/productTypes/queries.ts
  saleor/static/dashboard-next/productTypes/views/ProductTypeCreate.tsx
  saleor/static/dashboard-next/productTypes/views/ProductTypeList.tsx
  saleor/static/dashboard-next/productTypes/views/ProductTypeUpdate.tsx
  saleor/static/dashboard-next/products/mutations.ts
  saleor/static/dashboard-next/products/views/ProductVariant.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
  saleor/static/dashboard-next/storybook/stories/productTypes/ProductTypeDetailsPage.tsx
Labels: react

#2850 Remove Group permissions from API
  saleor/graphql/account/types.py
Labels: api

#2754 [WIP] Implement order list and parts of order details
  saleor/static/dashboard-next/AppRoot.tsx
  saleor/static/dashboard-next/components/AddressEdit/AddressEdit.tsx
  saleor/static/dashboard-next/components/AddressFormatter/AddressFormatter.tsx
  saleor/static/dashboard-next/components/Timeline/Timeline.tsx
  saleor/static/dashboard-next/customers/components/CustomerDetailsPage/CustomerDetailsPage.tsx
  saleor/static/dashboard-next/customers/components/CustomerOrders/CustomerOrders.tsx
  saleor/static/dashboard-next/customers/fixtures.ts
  saleor/static/dashboard-next/customers/index.ts
  saleor/static/dashboard-next/gql-types.ts
  saleor/static/dashboard-next/index.tsx
  saleor/static/dashboard-next/misc.ts
  saleor/static/dashboard-next/orders/components/OrderAddressEditDialog/OrderAddressEditDialog.tsx
  saleor/static/dashboard-next/orders/components/OrderCancelDialog/OrderCancelDialog.tsx
  saleor/static/dashboard-next/orders/components/OrderCustomer/OrderCustomer.tsx
  saleor/static/dashboard-next/orders/components/OrderDetailsPage/OrderDetailsPage.tsx
  saleor/static/dashboard-next/orders/components/OrderFulfillment/OrderFulfillment.tsx
  saleor/static/dashboard-next/orders/components/OrderFulfillmentDialog/OrderFulfillmentDialog.tsx
  saleor/static/dashboard-next/orders/components/OrderHistory/OrderHistory.tsx
  saleor/static/dashboard-next/orders/components/OrderList/OrderList.tsx
  saleor/static/dashboard-next/orders/components/OrderListPage/OrderListPage.tsx
  saleor/static/dashboard-next/orders/components/OrderPaymentDialog/OrderPaymentDialog.tsx
  saleor/static/dashboard-next/orders/components/OrderProductAddDialog/OrderProductAddDialog.tsx
  saleor/static/dashboard-next/orders/components/OrderProducts/OrderProducts.tsx
  saleor/static/dashboard-next/orders/components/OrderShippingMethodEditDialog/OrderShippingMethodEditDialog.tsx
  saleor/static/dashboard-next/orders/components/OrderSummary/OrderSummary.tsx
  saleor/static/dashboard-next/orders/containers/OrderCreateFulfillment.tsx
  saleor/static/dashboard-next/orders/containers/OrderOperations.tsx
  saleor/static/dashboard-next/orders/containers/OrderPaymentCapture.tsx
  saleor/static/dashboard-next/orders/containers/OrderPaymentRefund.tsx
  saleor/static/dashboard-next/orders/containers/OrderVariantSearch.tsx
  saleor/static/dashboard-next/orders/fixtures.ts
  saleor/static/dashboard-next/orders/index.tsx
  saleor/static/dashboard-next/orders/mutations.ts
  saleor/static/dashboard-next/orders/queries.ts
  saleor/static/dashboard-next/orders/types/OrderCancel.ts
  saleor/static/dashboard-next/orders/types/OrderCapture.ts
  saleor/static/dashboard-next/orders/types/OrderCreateFulfillment.ts
  saleor/static/dashboard-next/orders/types/OrderDetails.ts
  saleor/static/dashboard-next/orders/types/OrderDetailsFragment.ts
  saleor/static/dashboard-next/orders/types/OrderList.ts
  saleor/static/dashboard-next/orders/types/OrderRefund.ts
  saleor/static/dashboard-next/orders/types/OrderRelease.ts
  saleor/static/dashboard-next/orders/types/OrderShippingMethods.ts
  saleor/static/dashboard-next/orders/types/OrderVariantSearch.ts
  saleor/static/dashboard-next/orders/views/OrderDetails.tsx
  saleor/static/dashboard-next/orders/views/OrderList.tsx
  saleor/static/dashboard-next/queries.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
  saleor/static/dashboard-next/storybook/stories/components/AddressEdit.tsx
  saleor/static/dashboard-next/storybook/stories/components/Timeline.tsx
  saleor/static/dashboard-next/storybook/stories/orders/OrderAddressEditDialog.tsx
  saleor/static/dashboard-next/storybook/stories/orders/OrderCancelDialog.tsx
  saleor/static/dashboard-next/storybook/stories/orders/OrderDetailsPage.tsx
  saleor/static/dashboard-next/storybook/stories/orders/OrderFulfillmentDialog.tsx
  saleor/static/dashboard-next/storybook/stories/orders/OrderHistory.tsx
  saleor/static/dashboard-next/storybook/stories/orders/OrderPaymentDialog.tsx
  saleor/static/dashboard-next/storybook/stories/orders/OrderProductAddDialog.tsx
  saleor/static/dashboard-next/storybook/stories/orders/OrderSummary.tsx
  saleor/static/dashboard-next/types/globalTypes.ts
Labels: blocked, in progress

#2851 Handle user_email resolver with an empty string
  saleor/graphql/order/types.py
Labels: api

#2876 Update GraphQL schema
  saleor/graphql/schema.graphql
  saleor/static/dashboard-next/orders/types/OrderList.ts
Labels: api

#2825 Turn PaymentStatus into Enum
  saleor/graphql/order/types.py
  saleor/graphql/schema.graphql
  saleor/static/dashboard-next/orders/types/OrderCancel.ts
  saleor/static/dashboard-next/orders/types/OrderCapture.ts
  saleor/static/dashboard-next/orders/types/OrderDetails.ts
  saleor/static/dashboard-next/orders/types/OrderDetailsFragment.ts
  saleor/static/dashboard-next/orders/types/OrderList.ts
  saleor/static/dashboard-next/orders/types/OrderRefund.ts
  saleor/static/dashboard-next/orders/types/OrderRelease.ts
  saleor/static/dashboard-next/types/globalTypes.ts
  tests/api/test_order.py
Labels: api

#2877 Add thumbnails to OrderLine api
  saleor/graphql/order/types.py
  saleor/graphql/schema.graphql
  tests/api/test_order.py
Labels: api

#2853 Add attribute value types in API
  saleor/graphql/product/mutations/attributes.py
  saleor/graphql/product/types.py
  saleor/graphql/schema.graphql
  saleor/product/migrations/0071_attributechoicevalue_value.py
  saleor/product/models.py
  tests/api/test_attributes.py
  tests/conftest.py
Labels: api

#2846 Add specific endpoint for staff users
  saleor/graphql/account/resolvers.py
  saleor/graphql/api.py
  saleor/graphql/core/mutations.py
  saleor/graphql/schema.graphql
  tests/api/test_account.py
Labels: api

#2848 Return OrderEventsEmail as Enum in GraphQL API
  saleor/graphql/order/types.py
  saleor/graphql/schema.graphql
  saleor/static/dashboard-next/orders/types/OrderCancel.ts
  saleor/static/dashboard-next/orders/types/OrderCapture.ts
  saleor/static/dashboard-next/orders/types/OrderDetails.ts
  saleor/static/dashboard-next/orders/types/OrderDetailsFragment.ts
  saleor/static/dashboard-next/orders/types/OrderRefund.ts
  saleor/static/dashboard-next/orders/types/OrderRelease.ts
  saleor/static/dashboard-next/types/globalTypes.ts
  tests/api/test_order.py
Labels: api

#2841 Add checks if Order mutations can be performed
  saleor/graphql/order/mutations/orders.py
  tests/api/test_order.py
Labels: api

#2909 Fix Order cancel & not restock mutation
  saleor/graphql/order/mutations/orders.py
  tests/api/test_order.py
Labels: api

#2914 Implement staff members and permission management section in dashboard
  saleor/graphql/schema.graphql
  saleor/static/dashboard-next/components/CardTitle/CardTitle.tsx
  saleor/static/dashboard-next/configuration/index.tsx
  saleor/static/dashboard-next/index.tsx
  saleor/static/dashboard-next/queries.tsx
  saleor/static/dashboard-next/staff/components/StaffAddMemberDialog/StaffAddMemberDialog.tsx
  saleor/static/dashboard-next/staff/components/StaffAddMemberDialog/index.ts
  saleor/static/dashboard-next/staff/components/StaffDetailsPage/StaffDetailsPage.tsx
  saleor/static/dashboard-next/staff/components/StaffDetailsPage/index.ts
  saleor/static/dashboard-next/staff/components/StaffList/StaffList.tsx
  saleor/static/dashboard-next/staff/components/StaffList/index.ts
  saleor/static/dashboard-next/staff/components/StaffListPage/StaffListPage.tsx
  saleor/static/dashboard-next/staff/components/StaffListPage/index.ts
  saleor/static/dashboard-next/staff/components/StaffPermissions/StaffPermissions.tsx
  saleor/static/dashboard-next/staff/components/StaffPermissions/index.ts
  saleor/static/dashboard-next/staff/components/StaffProperties/StaffProperties.tsx
  saleor/static/dashboard-next/staff/components/StaffProperties/index.ts
  saleor/static/dashboard-next/staff/components/StaffStatus/StaffStatus.tsx
  saleor/static/dashboard-next/staff/components/StaffStatus/index.ts
  saleor/static/dashboard-next/staff/fixtures.ts
  saleor/static/dashboard-next/staff/index.tsx
  saleor/static/dashboard-next/staff/mutations.ts
  saleor/static/dashboard-next/staff/queries.ts
  saleor/static/dashboard-next/staff/types/StaffList.ts
  saleor/static/dashboard-next/staff/types/StaffMemberAdd.ts
  saleor/static/dashboard-next/staff/types/StaffMemberDelete.ts
  saleor/static/dashboard-next/staff/types/StaffMemberDetails.ts
  saleor/static/dashboard-next/staff/types/StaffMemberDetailsFragment.ts
  saleor/static/dashboard-next/staff/types/StaffMemberFragment.ts
  saleor/static/dashboard-next/staff/types/StaffMemberUpdate.ts
  saleor/static/dashboard-next/staff/views/StaffDetails.tsx
  saleor/static/dashboard-next/staff/views/StaffList.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
  saleor/static/dashboard-next/storybook/config.js
  saleor/static/dashboard-next/storybook/stories/staff/StaffDetailsPage.tsx
  saleor/static/dashboard-next/storybook/stories/staff/StaffListPage.tsx
  saleor/static/dashboard-next/theme.ts
  saleor/static/dashboard-next/types/globalTypes.ts
Labels: in progress
