Repository saleor/saleor, pull requests merged in 2019-05, with the labels that each got.

#4028 Use dataclasses as a structure for payment's gateways
  .travis.yml
  CHANGELOG.md
  Pipfile
  Pipfile.lock
  README.md
  docs/gettingstarted/installation-linux.rst
  docs/guides/payments.rst
  requirements.txt
  saleor/payment/gateways/braintree/__init__.py
  saleor/payment/gateways/braintree/forms.py
  saleor/payment/gateways/dummy/__init__.py
  saleor/payment/gateways/razorpay/__init__.py
  saleor/payment/gateways/razorpay/forms.py
  saleor/payment/gateways/stripe/__init__.py
  saleor/payment/gateways/stripe/forms.py
  saleor/payment/gateways/stripe/utils.py
  saleor/payment/interface.py
  saleor/payment/utils.py
  tests/api/test_checkout.py
  tests/gateway/test_braintree.py
  tests/gateway/test_razorpay.py
  tests/gateway/test_stripe.py
  tests/test_order.py
  tests/test_payment.py
  tox.ini
Labels: payments

#4062 Fix product listing not showing in the voucher form
  CHANGELOG.md
  saleor/dashboard/discount/forms.py
Labels: bug, dashboard 1.0

#4061 Dashboard-1 no longer fails when updating an order address phone number
  CHANGELOG.md
  saleor/dashboard/order/forms.py
  tests/dashboard/test_order.py
Labels: bug, dashboard 1.0

#4018 Implement order events
  CHANGELOG.md
  docs/architecture/events.rst
  saleor/checkout/utils.py
  saleor/checkout/views/summary.py
  saleor/dashboard/order/forms.py
  saleor/dashboard/order/views.py
  saleor/dashboard/templatetags/orders.py
  saleor/graphql/account/enums.py
  saleor/graphql/checkout/mutations.py
  saleor/graphql/core/enums.py
  saleor/graphql/order/bulk_mutations/orders.py
  saleor/graphql/order/enums.py
  saleor/graphql/order/mutations/draft_orders.py
  saleor/graphql/order/mutations/fulfillments.py
  saleor/graphql/order/mutations/orders.py
  saleor/graphql/order/resolvers.py
  saleor/graphql/order/types.py
  saleor/graphql/payment/enums.py
  saleor/graphql/schema.graphql
  saleor/graphql/shipping/enums.py
  saleor/order/__init__.py
  saleor/order/emails.py
  saleor/order/events.py
  saleor/order/migrations/0054_move_data_to_order_events.py
  saleor/order/migrations/0066_auto_20181023_0319.py
  saleor/order/migrations/0070_drop_update_event_and_rename_events.py
  saleor/order/models.py
  saleor/order/utils.py
  saleor/payment/utils.py
  templates/dashboard/order/detail.html
  tests/api/test_fulfillment.py
  tests/api/test_homepage.py
  tests/api/test_order.py
  tests/conftest.py
  tests/dashboard/test_order.py
  tests/test_checkout.py
  tests/test_emails.py
  tests/test_order.py
  tests/test_order_utils.py
  tests/test_payment.py
Labels: graphql

#4078 Add list enum to some filters fields
  CHANGELOG.md
  saleor/graphql/core/filters.py
  saleor/graphql/discount/filters.py
  saleor/graphql/order/filters.py
  saleor/graphql/schema.graphql
Labels: graphql

#4095 Allow to pass empty list in bulk mutations
  saleor/graphql/core/mutations.py
  tests/api/test_bulk_delete.py
Labels: graphql

#4099 Update seo.rst
  docs/integrations/seo.rst
Labels: documentation

#4097 Update the documentation to reflect the use of the black code style
  docs/architecture/events.rst
  docs/architecture/money.rst
  docs/architecture/translations.rst
  docs/guides/payments.rst
Labels: documentation

#4109 Fix translation discard button
  CHANGELOG.md
  saleor/static/dashboard-next/translations/components/TranslationFields/TranslationFields.tsx
  saleor/static/dashboard-next/translations/components/TranslationFields/TranslationFieldsLong.tsx
  saleor/static/dashboard-next/translations/components/TranslationFields/TranslationFieldsRich.tsx
  saleor/static/dashboard-next/translations/components/TranslationFields/TranslationFieldsSave.tsx
  saleor/static/dashboard-next/translations/components/TranslationFields/TranslationFieldsShort.tsx
  saleor/static/dashboard-next/translations/components/TranslationsCategoriesPage/TranslationsCategoriesPage.tsx
  saleor/static/dashboard-next/translations/components/TranslationsCollectionsPage/TranslationsCollectionsPage.tsx
  saleor/static/dashboard-next/translations/components/TranslationsPagesPage/TranslationsPagesPage.tsx
  saleor/static/dashboard-next/translations/components/TranslationsProductTypesPage/TranslationsProductTypesPage.tsx
  saleor/static/dashboard-next/translations/components/TranslationsProductsPage/TranslationsProductsPage.tsx
  saleor/static/dashboard-next/translations/components/TranslationsSalesPage/TranslationsSalesPage.tsx
  saleor/static/dashboard-next/translations/components/TranslationsVouchersPage/TranslationsVouchersPage.tsx
  saleor/static/dashboard-next/translations/types/TranslationsEntitiesPage.ts
  saleor/static/dashboard-next/translations/views/TranslationsCategories.tsx
  saleor/static/dashboard-next/translations/views/TranslationsCollections.tsx
  saleor/static/dashboard-next/translations/views/TranslationsPages.tsx
  saleor/static/dashboard-next/translations/views/TranslationsProductTypes.tsx
  saleor/static/dashboard-next/translations/views/TranslationsProducts.tsx
  saleor/static/dashboard-next/translations/views/TranslationsSales.tsx
  saleor/static/dashboard-next/translations/views/TranslationsVouchers.tsx
Labels: dashboard 2.0

#4102 Separate the legacy middleware from the GQL API middleware
  .isort.cfg
  CHANGELOG.md
  saleor/core/middleware.py
  saleor/graphql/middleware.py
  saleor/settings.py
  tests/api/test_graphql.py
Labels: graphql, performance

#4125 Change the way address validation rules are being obtained
  saleor/graphql/account/enums.py
  saleor/graphql/account/resolvers.py
  saleor/graphql/account/schema.py
  saleor/graphql/account/types.py
  saleor/graphql/schema.graphql
  tests/api/test_account.py
Labels: graphql

#4114 Storing the order lines PKs in events for clients to retrieve more data
  CHANGELOG.md
  docs/architecture/events.rst
  saleor/dashboard/order/views.py
  saleor/graphql/order/mutations/fulfillments.py
  saleor/graphql/order/types.py
  saleor/graphql/schema.graphql
  saleor/order/events.py
  tests/api/test_order.py
  tests/dashboard/test_order.py
  tests/test_order_utils.py
Labels: graphql

#4094 Implement customer events
  CHANGELOG.md
  docs/architecture/events.rst
  saleor/account/__init__.py
  saleor/account/emails.py
  saleor/account/events.py
  saleor/account/forms.py
  saleor/account/migrations/0027_customerevent.py
  saleor/account/models.py
  saleor/account/views.py
  saleor/core/utils/__init__.py
  saleor/dashboard/customer/forms.py
  saleor/dashboard/customer/views.py
  saleor/graphql/account/bulk_mutations.py
  saleor/graphql/account/enums.py
  saleor/graphql/account/mutations.py
  saleor/graphql/account/types.py
  saleor/graphql/account/utils.py
  saleor/graphql/schema.graphql
  saleor/order/events.py
  saleor/order/forms.py
  saleor/order/models.py
  saleor/order/views.py
  saleor/product/utils/digital_products.py
  saleor/product/views.py
  tests/api/test_account.py
  tests/api/test_account_events.py
  tests/api/test_bulk_delete.py
  tests/api/test_order.py
  tests/api/utils.py
  tests/conftest.py
  tests/dashboard/test_customer.py
  tests/test_checkout.py
  tests/test_order.py
  tests/test_product.py
  tests/test_registration.py
Labels: graphql

#4132 Fix draftail options and icons
  CHANGELOG.md
  saleor/static/dashboard-next/components/RichTextEditor/RichTextEditor.tsx
  saleor/static/dashboard-next/icons/BoldIcon.tsx
  saleor/static/dashboard-next/icons/HeaderOne.tsx
  saleor/static/dashboard-next/icons/HeaderThree.tsx
  saleor/static/dashboard-next/icons/HeaderTwo.tsx
  saleor/static/dashboard-next/icons/ItalicIcon.tsx
  saleor/static/dashboard-next/icons/LinkIcon.tsx
  saleor/static/dashboard-next/icons/OrderedListIcon.tsx
  saleor/static/dashboard-next/icons/QuotationIcon.tsx
  saleor/static/dashboard-next/icons/StrikethroughIcon.tsx
  saleor/static/dashboard-next/icons/UnorderedListIcon.tsx
  saleor/static/dashboard-next/icons/Unstyled.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
Labels: dashboard 2.0

#4133 Add multiple select checkbox
  CHANGELOG.md
  saleor/static/dashboard-next/categories/components/CategoryList/CategoryList.tsx
  saleor/static/dashboard-next/categories/components/CategoryListPage/CategoryListPage.tsx
  saleor/static/dashboard-next/categories/components/CategoryProductsCard/CategoryProductsCard.tsx
  saleor/static/dashboard-next/categories/components/CategoryUpdatePage/CategoryUpdatePage.tsx
  saleor/static/dashboard-next/categories/views/CategoryDetails.tsx
  saleor/static/dashboard-next/categories/views/CategoryList.tsx
  saleor/static/dashboard-next/collections/components/CollectionList/CollectionList.tsx
  saleor/static/dashboard-next/collections/components/CollectionProducts/CollectionProducts.tsx
  saleor/static/dashboard-next/collections/views/CollectionDetails.tsx
  saleor/static/dashboard-next/collections/views/CollectionList.tsx
  saleor/static/dashboard-next/components/ProductList/ProductList.tsx
  saleor/static/dashboard-next/components/TableActions/TableActions.tsx
  saleor/static/dashboard-next/components/TableActions/index.ts
  saleor/static/dashboard-next/components/TableHead/TableHead.tsx
  saleor/static/dashboard-next/customers/components/CustomerList/CustomerList.tsx
  saleor/static/dashboard-next/customers/views/CustomerList.tsx
  saleor/static/dashboard-next/discounts/components/DiscountCategories/DiscountCategories.tsx
  saleor/static/dashboard-next/discounts/components/DiscountCollections/DiscountCollections.tsx
  saleor/static/dashboard-next/discounts/components/DiscountCountrySelectDialog/DiscountCountrySelectDialog.tsx
  saleor/static/dashboard-next/discounts/components/DiscountProducts/DiscountProducts.tsx
  saleor/static/dashboard-next/discounts/components/SaleDetailsPage/SaleDetailsPage.tsx
  saleor/static/dashboard-next/discounts/components/SaleList/SaleList.tsx
  saleor/static/dashboard-next/discounts/components/VoucherDetailsPage/VoucherDetailsPage.tsx
  saleor/static/dashboard-next/discounts/components/VoucherList/VoucherList.tsx
  saleor/static/dashboard-next/discounts/components/VoucherListPage/VoucherListPage.tsx
  saleor/static/dashboard-next/discounts/views/SaleDetails.tsx
  saleor/static/dashboard-next/discounts/views/SaleList.tsx
  saleor/static/dashboard-next/discounts/views/VoucherDetails.tsx
  saleor/static/dashboard-next/discounts/views/VoucherList.tsx
  saleor/static/dashboard-next/fixtures.ts
  saleor/static/dashboard-next/hooks/useBulkActions.ts
  saleor/static/dashboard-next/navigation/components/MenuList/MenuList.tsx
  saleor/static/dashboard-next/navigation/views/MenuList.tsx
  saleor/static/dashboard-next/orders/components/OrderDraftList/OrderDraftList.tsx
  saleor/static/dashboard-next/orders/components/OrderList/OrderList.tsx
  saleor/static/dashboard-next/orders/views/OrderDraftList.tsx
  saleor/static/dashboard-next/orders/views/OrderList.tsx
  saleor/static/dashboard-next/pages/components/PageList/PageList.tsx
  saleor/static/dashboard-next/pages/components/PageListPage/PageListPage.tsx
  saleor/static/dashboard-next/pages/views/PageList.tsx
  saleor/static/dashboard-next/productTypes/components/ProductTypeList/ProductTypeList.tsx
  saleor/static/dashboard-next/productTypes/views/ProductTypeList.tsx
  saleor/static/dashboard-next/products/components/ProductListCard/ProductListCard.tsx
  saleor/static/dashboard-next/products/components/ProductUpdatePage/ProductUpdatePage.tsx
  saleor/static/dashboard-next/products/components/ProductVariants/ProductVariants.tsx
  saleor/static/dashboard-next/products/views/ProductList.tsx
  saleor/static/dashboard-next/products/views/ProductUpdate.tsx
  saleor/static/dashboard-next/shipping/components/ShippingZonesList/ShippingZonesList.tsx
  saleor/static/dashboard-next/shipping/views/ShippingZonesList.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
  saleor/static/dashboard-next/types.ts
Labels: dashboard 2.0

#4146 Fix multiple checkbox selected behavior
  CHANGELOG.md
  saleor/static/dashboard-next/components/TableHead/TableHead.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
Labels: dashboard 2.0

#4148 GraphQL now prints exceptions to stderr as well as returning them or not
  CHANGELOG.md
  saleor/graphql/views.py
Labels: graphql

#4155 Refactor API resolvers to staticmethods with root typing
  CHANGELOG.md
  saleor/graphql/account/types.py
  saleor/graphql/checkout/types.py
  saleor/graphql/core/types/money.py
  saleor/graphql/discount/types.py
  saleor/graphql/menu/types.py
  saleor/graphql/order/types.py
  saleor/graphql/page/types.py
  saleor/graphql/payment/types.py
  saleor/graphql/product/types/attributes.py
  saleor/graphql/product/types/digital_contents.py
  saleor/graphql/product/types/products.py
  saleor/graphql/shipping/types.py
  saleor/graphql/shop/types.py
  saleor/graphql/translations/types.py
Labels: graphql, technical debt

#4165 Users can how add multiple "Add to Cart" forms in a single page
  CHANGELOG.md
  saleor/static/js/components/checkout.js
Labels: storefront 1.0

#4168 Fix typos and messages system tense
  CHANGELOG.md
  saleor/static/dashboard-next/components/AppLayout/menuStructure.ts
  saleor/static/dashboard-next/discounts/components/SaleInfo/SaleInfo.tsx
  saleor/static/dashboard-next/discounts/components/VoucherInfo/VoucherInfo.tsx
  saleor/static/dashboard-next/discounts/components/VoucherOptions/VoucherOptions.tsx
  saleor/static/dashboard-next/home/components/HomeActivityCard/activityMessages.ts
  saleor/static/dashboard-next/home/components/HomeHeader/HomeHeader.tsx
  saleor/static/dashboard-next/navigation/components/MenuDetailsPage/MenuDetailsPage.tsx
  saleor/static/dashboard-next/navigation/components/MenuProperties/MenuProperties.tsx
  saleor/static/dashboard-next/orders/components/OrderHistory/OrderHistory.tsx
  saleor/static/dashboard-next/pages/components/PageInfo/PageInfo.tsx
  saleor/static/dashboard-next/products/components/ProductVariants/ProductVariants.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
Labels: dashboard 2.0

#4172 Rename some texts
  CHANGELOG.md
  saleor/static/dashboard-next/components/AppLayout/menuStructure.ts
  saleor/static/dashboard-next/orders/components/OrderPayment/OrderPayment.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
Labels: dashboard 2.0

#4166 Adding a non existent variant to a checkout no longer crashes
  CHANGELOG.md
  saleor/checkout/forms.py
  tests/test_cart.py
  tests/test_product.py
Labels: bug, storefront 1.0

#4171 Category delete modal improvements
  CHANGELOG.md
  saleor/static/dashboard-next/categories/views/CategoryDetails.tsx
  saleor/static/dashboard-next/categories/views/CategoryList.tsx
Labels: dashboard 2.0

#4123 Sortable products in collections
  CHANGELOG.md
  saleor/core/models.py
  saleor/graphql/product/mutations/products.py
  saleor/graphql/product/schema.py
  saleor/graphql/product/types/__init__.py
  saleor/graphql/product/types/products.py
  saleor/graphql/schema.graphql
  saleor/menu/migrations/0014_auto_20190523_0759.py
  saleor/product/migrations/0049_collection.py
  saleor/product/migrations/0093_auto_20190521_0124.py
  saleor/product/models.py
  tests/api/test_product_sorting.py
  tests/conftest.py
  tests/test_core.py
Labels: graphql

#4189 Fix missing sort on products non-prefetched in collection
  saleor/graphql/product/types/products.py
  saleor/product/models.py
  tests/api/test_product_sorting.py
Labels: bug

#4156 Add phone validation in the GraphQL API to handle the library upgrade
  CHANGELOG.md
  Pipfile
  Pipfile.lock
  requirements.txt
  saleor/account/validators.py
  saleor/graphql/account/i18n.py
  saleor/graphql/checkout/mutations.py
  tests/api/test_checkout.py
Labels: graphql

#4173 Fix view all orders button
  CHANGELOG.md
  saleor/static/dashboard-next/customers/views/CustomerDetails.tsx
  saleor/static/dashboard-next/orders/queries.ts
  saleor/static/dashboard-next/orders/types/OrderList.ts
  saleor/static/dashboard-next/orders/urls.ts
  saleor/static/dashboard-next/orders/views/OrderList.tsx
  saleor/static/dashboard-next/types/globalTypes.ts
Labels: dashboard 2.0
