Repository saleor/saleor, pull requests merged in 2019-12, with the labels that each got.

#5031 Fix faulty form selection mechanism of site settings company address
  saleor/account/i18n.py
  tests/test_account.py
Labels: bug

#5039 Add user id to jwt payload
  CHANGELOG.md
  saleor/graphql/account/types.py
  saleor/graphql/utils.py
  tests/api/test_account.py
  tests/api/test_federation.py
Labels: core, graphql

#5041 Made middleware path resolving lazy and refactored middleware names
  CHANGELOG.md
  saleor/core/middleware.py
  saleor/graphql/middleware.py
  saleor/graphql/views.py
Labels: performance, technical debt

#5058 Fix "assert_called_once_with" depending on list's order
  tests/api/test_product_minimal_variant_price.py
Labels: bug

#5072 Fix order status after order update
  CHANGELOG.md
  saleor/graphql/order/mutations/orders.py
  tests/api/test_order.py
Labels: graphql

#5018 Extend top-level connection resolvers with ability to sort results
  CHANGELOG.md
  saleor/graphql/account/resolvers.py
  saleor/graphql/account/schema.py
  saleor/graphql/account/sorters.py
  saleor/graphql/core/enums.py
  saleor/graphql/core/types/__init__.py
  saleor/graphql/core/types/sort_input.py
  saleor/graphql/discount/resolvers.py
  saleor/graphql/discount/schema.py
  saleor/graphql/discount/sorters.py
  saleor/graphql/extensions/resolvers.py
  saleor/graphql/extensions/schema.py
  saleor/graphql/extensions/sorters.py
  saleor/graphql/menu/resolvers.py
  saleor/graphql/menu/schema.py
  saleor/graphql/menu/sorters.py
  saleor/graphql/order/resolvers.py
  saleor/graphql/order/schema.py
  saleor/graphql/order/sorters.py
  saleor/graphql/page/resolvers.py
  saleor/graphql/page/schema.py
  saleor/graphql/page/sorters.py
  saleor/graphql/product/enums.py
  saleor/graphql/product/filters.py
  saleor/graphql/product/resolvers.py
  saleor/graphql/product/schema.py
  saleor/graphql/product/sorters.py
  saleor/graphql/product/types/__init__.py
  saleor/graphql/product/types/attributes.py
  saleor/graphql/product/types/products.py
  saleor/graphql/schema.graphql
  saleor/graphql/utils.py
  saleor/graphql/webhook/resolvers.py
  saleor/graphql/webhook/schema.py
  saleor/graphql/webhook/sorters.py
  tests/api/test_account.py
  tests/api/test_account_service_account.py
  tests/api/test_discount.py
  tests/api/test_extensions.py
  tests/api/test_menu.py
  tests/api/test_order.py
  tests/api/test_page.py
  tests/api/test_product.py
  tests/api/test_webhook.py
Labels: graphql
