Repository saleor/saleor, pull requests merged in 2019-01, with the labels that each got.

#3523 Extract enums
  CHANGELOG.md
  saleor/graphql/account/mutations.py
  saleor/graphql/account/types.py
  saleor/graphql/checkout/types.py
  saleor/graphql/core/connection.py
  saleor/graphql/core/enums.py
  saleor/graphql/core/scalars.py
  saleor/graphql/core/types/__init__.py
  saleor/graphql/core/types/common.py
  saleor/graphql/core/types/money.py
  saleor/graphql/discount/enums.py
  saleor/graphql/discount/mutations.py
  saleor/graphql/discount/resolvers.py
  saleor/graphql/discount/schema.py
  saleor/graphql/discount/types.py
  saleor/graphql/menu/enums.py
  saleor/graphql/menu/mutations.py
  saleor/graphql/menu/types.py
  saleor/graphql/order/enums.py
  saleor/graphql/order/mutations/draft_orders.py
  saleor/graphql/order/mutations/orders.py
  saleor/graphql/order/resolvers.py
  saleor/graphql/order/schema.py
  saleor/graphql/order/types.py
  saleor/graphql/page/types.py
  saleor/graphql/payment/enums.py
  saleor/graphql/payment/mutations.py
  saleor/graphql/payment/schema.py
  saleor/graphql/payment/types.py
  saleor/graphql/product/enums.py
  saleor/graphql/product/mutations/attributes.py
  saleor/graphql/product/mutations/products.py
  saleor/graphql/product/resolvers.py
  saleor/graphql/product/schema.py
  saleor/graphql/product/types.py
  saleor/graphql/shipping/enums.py
  saleor/graphql/shipping/mutations.py
  saleor/graphql/shipping/types.py
  saleor/graphql/shop/enums.py
  saleor/graphql/shop/mutations.py
  saleor/graphql/shop/resolvers.py
  saleor/graphql/shop/types.py
  saleor/graphql/utils.py
  tests/api/test_account.py
  tests/api/test_attributes.py
  tests/api/test_core.py
  tests/api/test_discount.py
  tests/api/test_order.py
  tests/api/test_payment.py
  tests/api/test_product.py
Labels: graphql

#3574 Restyle old storefront
  saleor/core/templatetags/shop.py
  saleor/settings.py
  saleor/static/images/cart.svg
  saleor/static/images/chevron-down.svg
  saleor/static/images/chevron-up.svg
  saleor/static/images/logo-document.svg
  saleor/static/images/mobile-menu.svg
  saleor/static/images/search.svg
  saleor/static/js/components/variantPicker/VariantPicker.js
  saleor/static/scss/components/_breadcrumbs.scss
  saleor/static/scss/components/_buttons.scss
  saleor/static/scss/components/_cards.scss
  saleor/static/scss/components/_filters.scss
  saleor/static/scss/components/_footer.scss
  saleor/static/scss/components/_forms.scss
  saleor/static/scss/components/_header.scss
  saleor/static/scss/components/_typography.scss
  saleor/static/scss/layouts/_checkout.scss
  saleor/static/scss/layouts/_product-list.scss
  saleor/static/scss/layouts/_product-page.scss
  saleor/static/scss/variables.scss
  templates/_language_picker_modal.html
  templates/account/address_edit.html
  templates/account/details.html
  templates/account/partials/login_form.html
  templates/account/password_change.html
  templates/account/password_reset.html
  templates/account/password_reset_from_key.html
  templates/account/signup.html
  templates/base.html
  templates/cart_dropdown.html
  templates/checkout/index.html
  templates/checkout/payment.html
  templates/checkout/shipping_address.html
  templates/checkout/shipping_method.html
  templates/checkout/snippets/addresses_form.html
  templates/checkout/snippets/addresses_form_panel.html
  templates/checkout/summary.html
  templates/checkout/summary_without_shipping.html
  templates/footer_menu.html
  templates/menu.html
  templates/order/_ordered_items_table.html
  templates/order/checkout_success_anonymous.html
  templates/order/details.html
  templates/order/payment.html
  templates/order/payment/braintree.html
  templates/order/payment/dummy.html
  templates/product/_filters.html
  templates/product/details.html
  templates/product/product_list_base.html
  templates/styleguide.html
Labels: in progress

#3578 Support returning user's checkouts in GraphQL API
  CHANGELOG.md
  saleor/graphql/account/types.py
  saleor/graphql/checkout/types.py
  saleor/graphql/order/resolvers.py
  saleor/graphql/order/types.py
  saleor/graphql/order/utils.py
  saleor/graphql/schema.graphql
  tests/api/test_account.py
Labels: graphql

#3603 Add charges taxes on shipping field to shop settings in GraphQL Api
  CHANGELOG.md
  saleor/core/__init__.py
  saleor/graphql/core/types/money.py
  saleor/graphql/schema.graphql
  saleor/graphql/shop/mutations.py
  saleor/graphql/shop/types.py
  saleor/static/dashboard-next/types/globalTypes.ts
  tests/api/test_shop.py
Labels: graphql

#3639 Expose in API list of supported payment gateways
  CHANGELOG.md
  saleor/graphql/checkout/types.py
  saleor/graphql/schema.graphql
  tests/api/test_checkout.py
Labels: graphql

#3657 Docker improvements
  CHANGELOG.md
  Dockerfile
  docker-compose.override.yml
  docker-compose.yml
  docs/customization/docker.rst
Labels: devops
