Repository saleor/saleor, pull requests merged in 2019-06, with the labels that each got.

#4198 Fix visibility card view
  CHANGELOG.md
  saleor/static/dashboard-next/collections/components/CollectionCreatePage/CollectionCreatePage.tsx
  saleor/static/dashboard-next/collections/components/CollectionDetailsPage/CollectionDetailsPage.tsx
  saleor/static/dashboard-next/collections/components/CollectionStatus/CollectionStatus.tsx
  saleor/static/dashboard-next/collections/components/CollectionStatus/index.ts
  saleor/static/dashboard-next/collections/fixtures.ts
  saleor/static/dashboard-next/collections/queries.ts
  saleor/static/dashboard-next/collections/types/CollectionDetails.ts
  saleor/static/dashboard-next/collections/types/CollectionDetailsFragment.ts
  saleor/static/dashboard-next/collections/types/CollectionUpdate.ts
  saleor/static/dashboard-next/collections/types/CollectionUpdateWithHomepage.ts
  saleor/static/dashboard-next/collections/types/CreateCollection.ts
  saleor/static/dashboard-next/collections/views/CollectionDetails.tsx
  saleor/static/dashboard-next/components/ControlledSwitch.tsx
  saleor/static/dashboard-next/components/VisibilityCard/VisibilityCard.tsx
  saleor/static/dashboard-next/components/VisibilityCard/index.ts
  saleor/static/dashboard-next/pages/components/PageAvailability/PageAvailability.tsx
  saleor/static/dashboard-next/pages/components/PageAvailability/index.ts
  saleor/static/dashboard-next/pages/components/PageDetailsPage/PageDetailsPage.tsx
  saleor/static/dashboard-next/products/components/ProductAvailabilityForm/ProductAvailabilityForm.tsx
  saleor/static/dashboard-next/products/components/ProductAvailabilityForm/index.ts
  saleor/static/dashboard-next/products/components/ProductCreatePage/ProductCreatePage.tsx
  saleor/static/dashboard-next/products/components/ProductUpdatePage/ProductUpdatePage.tsx
  saleor/static/dashboard-next/products/views/ProductCreate.tsx
  saleor/static/dashboard-next/products/views/ProductUpdate.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
Labels: dashboard 2.0

#4025 Add Gift Cards
  CHANGELOG.md
  saleor/checkout/migrations/0019_checkout_gift_cards.py
  saleor/checkout/models.py
  saleor/checkout/utils.py
  saleor/core/management/commands/populatedb.py
  saleor/core/permissions.py
  saleor/core/utils/promo_code.py
  saleor/core/utils/random_data.py
  saleor/dashboard/discount/forms.py
  saleor/discount/utils.py
  saleor/giftcard/__init__.py
  saleor/giftcard/migrations/0001_initial.py
  saleor/giftcard/migrations/__init__.py
  saleor/giftcard/models.py
  saleor/giftcard/utils.py
  saleor/graphql/account/types.py
  saleor/graphql/api.py
  saleor/graphql/checkout/mutations.py
  saleor/graphql/checkout/schema.py
  saleor/graphql/checkout/types.py
  saleor/graphql/core/utils.py
  saleor/graphql/discount/mutations.py
  saleor/graphql/giftcard/__init__.py
  saleor/graphql/giftcard/mutations.py
  saleor/graphql/giftcard/resolvers.py
  saleor/graphql/giftcard/schema.py
  saleor/graphql/giftcard/types.py
  saleor/graphql/order/types.py
  saleor/graphql/schema.graphql
  saleor/graphql/shop/types.py
  saleor/order/migrations/0071_order_gift_cards.py
  saleor/order/models.py
  saleor/order/utils.py
  saleor/settings.py
  tests/api/test_checkout.py
  tests/api/test_checkout_promo_codes.py
  tests/api/test_discount.py
  tests/api/test_gift_card.py
  tests/api/test_order.py
  tests/conftest.py
  tests/test_checkout.py
  tests/test_core.py
Labels: in progress

#4154 Checkout payment can fail without creating an order and deleting checkout
  CHANGELOG.md
  saleor/checkout/utils.py
  saleor/checkout/views/summary.py
  saleor/graphql/checkout/mutations.py
  saleor/payment/interface.py
  saleor/payment/utils.py
  tests/api/test_checkout.py
  tests/test_checkout.py
  tests/test_order.py
Labels: graphql

#4270 Fix image selection in variants
  CHANGELOG.md
  saleor/static/dashboard-next/products/components/ProductVariantImageSelectDialog/ProductVariantImageSelectDialog.tsx
Labels: dashboard 2.0

#4268 Reset selected items when tab switch
  CHANGELOG.md
  saleor/static/dashboard-next/orders/views/OrderList/OrderList.tsx
  saleor/static/dashboard-next/products/views/ProductList/ProductList.tsx
Labels: dashboard 2.0

#4273 Fix quantity height in draft order edit
  CHANGELOG.md
  saleor/static/dashboard-next/orders/components/OrderDraftDetailsProducts/OrderDraftDetailsProducts.tsx
Labels: dashboard 2.0

#4292 Fixed internal error when creating a checkout with a voucher code
  CHANGELOG.md
  saleor/checkout/utils.py
  saleor/checkout/views/summary.py
  saleor/graphql/checkout/mutations.py
  tests/api/test_checkout.py
  tests/test_checkout.py
Labels: bug

#4269 Add filter tab name as required
  CHANGELOG.md
  saleor/static/dashboard-next/components/SaveFilterTabDialog/SaveFilterTabDialog.tsx
Labels: dashboard 2.0

#4301 Removed unneeded panels from the debug toolbar
  CHANGELOG.md
  saleor/settings.py
Labels: performance

#4304 Optimize discount calculations
  saleor/checkout/utils.py
  saleor/core/middleware.py
  saleor/discount/__init__.py
  saleor/discount/utils.py
  saleor/settings.py
  tests/api/test_checkout_promo_codes.py
  tests/conftest.py
  tests/test_cart.py
  tests/test_discounts.py
  tests/test_product.py
Labels: performance

#4313 Fix discounts after the recent change of logic
  saleor/core/middleware.py
  saleor/core/utils/random_data.py
  saleor/dashboard/product/views.py
  saleor/data_feeds/google_merchant.py
  saleor/discount/utils.py
  saleor/product/models.py
  saleor/product/utils/availability.py
  saleor/product/utils/variants_picker.py
Labels: bug

#4319 Fixed internal error when adding a note to an anonymous order
  CHANGELOG.md
  saleor/order/events.py
  tests/test_order.py
Labels: core

#4255 Implement attribute input types
  CHANGELOG.md
  docs/architecture/products.rst
  docs/img/product_class_tree.png
  saleor/core/fields.py
  saleor/dashboard/product/forms.py
  saleor/dashboard/product/views.py
  saleor/data_feeds/google_merchant.py
  saleor/graphql/product/descriptions.py
  saleor/graphql/product/enums.py
  saleor/graphql/product/filters.py
  saleor/graphql/product/mutations/attributes.py
  saleor/graphql/product/mutations/products.py
  saleor/graphql/product/types/attributes.py
  saleor/graphql/product/types/products.py
  saleor/graphql/product/utils.py
  saleor/graphql/schema.graphql
  saleor/product/__init__.py
  saleor/product/filters.py
  saleor/product/migrations/0096_attribute_input_type_multiple_values.py
  saleor/product/models.py
  saleor/product/utils/attributes.py
  saleor/product/utils/variants_picker.py
  tests/api/test_attributes.py
  tests/api/test_product.py
  tests/api/test_variant.py
  tests/conftest.py
  tests/dashboard/test_product.py
  tests/test_product.py
  tests/utils.py
Labels: attributes, graphql

#4330 Add flag to attribute determining whether it is a variant attribute only
  saleor/graphql/product/descriptions.py
  saleor/graphql/product/mutations/attributes.py
  saleor/graphql/schema.graphql
  saleor/product/migrations/0095_migrate_attrs_to_m2m.py
  saleor/product/models.py
  tests/api/test_attributes.py
Labels: attributes

#4339 Fix voucher apply once per order
  CHANGELOG.md
  saleor/discount/utils.py
  saleor/graphql/discount/mutations.py
  saleor/graphql/schema.graphql
  tests/api/test_discount.py
  tests/conftest.py
  tests/test_checkout.py
  tests/test_discounts.py
Labels: core, graphql

#4338 Staff users can now flag attributes as to be hidden in the storefront
  CHANGELOG.md
  saleor/graphql/product/descriptions.py
  saleor/graphql/product/mutations/attributes.py
  saleor/graphql/product/resolvers.py
  saleor/graphql/product/types/attributes.py
  saleor/graphql/product/types/products.py
  saleor/graphql/schema.graphql
  saleor/product/migrations/0095_migrate_attrs_to_m2m.py
  saleor/product/models.py
  tests/api/test_attributes.py
  tests/api/test_product.py
Labels: attributes, core

#4341 Added flags to attributes: whether they are filterable or not
  CHANGELOG.md
  saleor/graphql/product/descriptions.py
  saleor/graphql/product/mutations/attributes.py
  saleor/graphql/product/types/attributes.py
  saleor/graphql/schema.graphql
  saleor/product/migrations/0095_migrate_attrs_to_m2m.py
  saleor/product/models.py
  tests/api/test_attributes.py
Labels: attributes

#4340 Attributes can now be flagged as required
  CHANGELOG.md
  saleor/graphql/product/descriptions.py
  saleor/graphql/product/mutations/attributes.py
  saleor/graphql/product/types/attributes.py
  saleor/graphql/product/utils.py
  saleor/graphql/schema.graphql
  saleor/product/migrations/0095_migrate_attrs_to_m2m.py
  saleor/product/models.py
  tests/api/test_attributes.py
Labels: attributes, core

#4343 Added a search position field for the storefront navigation
  CHANGELOG.md
  saleor/graphql/product/descriptions.py
  saleor/graphql/product/mutations/attributes.py
  saleor/graphql/product/types/attributes.py
  saleor/graphql/schema.graphql
  saleor/product/migrations/0095_migrate_attrs_to_m2m.py
  saleor/product/models.py
  tests/api/test_attributes.py
Labels: attributes

#4346 Allow travis to skip the npm build
  .travis.yml
Labels: attributes

#4293 Improve vouchers
  CHANGELOG.md
  saleor/checkout/forms.py
  saleor/checkout/utils.py
  saleor/checkout/views/discount.py
  saleor/core/middleware.py
  saleor/core/utils/random_data.py
  saleor/dashboard/discount/views.py
  saleor/data_feeds/google_merchant.py
  saleor/discount/migrations/0013_auto_20190618_0733.py
  saleor/discount/models.py
  saleor/graphql/checkout/mutations.py
  saleor/graphql/core/types/common.py
  saleor/graphql/discount/filters.py
  saleor/graphql/discount/mutations.py
  saleor/graphql/schema.graphql
  saleor/static/dashboard-next/discounts/components/VoucherOptions/VoucherOptions.tsx
  saleor/static/dashboard-next/discounts/views/VoucherDetails.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
  tests/api/test_checkout_promo_codes.py
  tests/api/test_discount.py
  tests/conftest.py
  tests/dashboard/test_discounts.py
  tests/test_checkout.py
  tests/test_discounts.py
Labels: graphql

#4348 Deprecate the slug field for value input in attributes, and pass by ID instead
  CHANGELOG.md
  saleor/graphql/product/descriptions.py
  saleor/graphql/product/mutations/products.py
  saleor/graphql/product/utils.py
  saleor/graphql/schema.graphql
  tests/api/test_attributes.py
Labels: attributes
