Repository saleor/saleor, pull requests merged in 2019-10, with the labels that each got.

#4774 Extend payment gateway GraphQL type
  CHANGELOG.md
  saleor/extensions/base_plugin.py
  saleor/extensions/manager.py
  saleor/graphql/checkout/types.py
  saleor/graphql/payment/schema.py
  saleor/graphql/schema.graphql
  saleor/order/forms.py
  saleor/payment/gateway.py
  saleor/payment/gateways/braintree/__init__.py
  saleor/payment/gateways/braintree/plugin.py
  saleor/payment/gateways/dummy/plugin.py
  saleor/payment/gateways/stripe/__init__.py
  saleor/payment/gateways/stripe/plugin.py
  tests/api/benchmark/test_checkout.py
  tests/api/test_checkout.py
  tests/extensions/test_manager.py
  tests/gateway/stripe/test_stripe.py
Labels: graphql, payments

#4780 Fixed display of tax rate (forms & details) + update of product tax rate
  CHANGELOG.md
  saleor/dashboard/product/forms.py
  saleor/dashboard/product/utils.py
  saleor/dashboard/product/views.py
  templates/dashboard/product/detail.html
  templates/dashboard/product/product_type/form.html
  tests/dashboard/test_product.py
Labels: bug, dashboard 1.0

#4816 Fix for updating status of order after fulfillment
  saleor/dashboard/order/views.py
  tests/dashboard/test_order.py
Labels: bug, dashboard 1.0

#4753 Provide capped stock quantity instead of exact one and restrict the costPrice field productVariant
  CHANGELOG.md
  saleor/graphql/product/types/products.py
  saleor/graphql/schema.graphql
  saleor/product/models.py
  tests/api/benchmark/test_checkout.py
  tests/api/test_product.py
  tests/test_product_availability.py
Labels: bug, graphql

#4824 Placing an order no longer fails when customer has a duplicated address
  CHANGELOG.md
  saleor/account/utils.py
  tests/test_checkout.py
Labels: bug, core

#4828 Fixed error message formatting when a given transaction is non-existing
  saleor/payment/gateway.py
  tests/api/test_payment.py
Labels: bug, payments

#4835 Fix fetching staff user without manage_users permission
  CHANGELOG.md
  saleor/graphql/account/resolvers.py
  saleor/graphql/account/schema.py
  saleor/graphql/account/types.py
  saleor/graphql/decorators.py
  tests/api/test_account.py
  tests/api/test_account_events.py
Labels: graphql

#4825 Add support for Apollo Federation
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  saleor/graphql/account/types.py
  saleor/graphql/api.py
  saleor/graphql/product/types/products.py
  saleor/graphql/schema.graphql
Labels: graphql

#4820 Add backend logic for dynamic default email sender settings
  CHANGELOG.md
  saleor/account/emails.py
  saleor/core/emails.py
  saleor/dashboard/emails.py
  saleor/dashboard/sites/forms.py
  saleor/graphql/schema.graphql
  saleor/graphql/shop/mutations.py
  saleor/graphql/shop/types.py
  saleor/order/emails.py
  saleor/settings.py
  saleor/site/error_codes.py
  saleor/site/migrations/0023_auto_20191007_0835.py
  saleor/site/models.py
  templates/dashboard/sites/detail.html
  templates/dashboard/sites/form.html
  tests/api/test_shop.py
  tests/conftest.py
  tests/dashboard/test_customer.py
  tests/dashboard/test_site_settings.py
  tests/dashboard/test_staff.py
  tests/settings.py
  tests/test_emails.py
Labels: core

#4863 Add customer set password url to Site settings
  .isort.cfg
  CHANGELOG.md
  saleor/core/utils/url.py
  saleor/graphql/account/mutations/account.py
  saleor/graphql/account/mutations/base.py
  saleor/graphql/account/mutations/staff.py
  saleor/graphql/schema.graphql
  saleor/graphql/shop/mutations.py
  saleor/graphql/shop/types.py
  saleor/site/migrations/0024_sitesettings_customer_set_password_url.py
  saleor/site/models.py
  tests/api/test_account.py
  tests/api/test_shop.py
Labels: graphql

#4875 Fix checkout - cart of death
  saleor/graphql/checkout/mutations.py
  tests/api/test_checkout.py
Labels: graphql

#4878 Set type of country to enum in address input
  saleor/graphql/account/i18n.py
  saleor/graphql/account/types.py
  saleor/graphql/schema.graphql
  tests/api/test_account.py
  tests/api/test_checkout.py
Labels: graphql

#4888 Add the possibility to remove the company address
  CHANGELOG.md
  saleor/graphql/shop/mutations.py
  saleor/site/migrations/0025_auto_20191024_0552.py
  saleor/site/models.py
  tests/api/test_shop.py
Labels: graphql
