Repository saleor/saleor, pull requests merged in 2019-07, with the labels that each got.

#4344 Change voucher types
  CHANGELOG.md
  saleor/checkout/utils.py
  saleor/core/utils/random_data.py
  saleor/dashboard/discount/forms.py
  saleor/dashboard/discount/views.py
  saleor/dashboard/order/utils.py
  saleor/discount/__init__.py
  saleor/discount/migrations/0014_auto_20190701_0402.py
  saleor/discount/models.py
  saleor/graphql/discount/enums.py
  saleor/graphql/discount/mutations.py
  saleor/graphql/schema.graphql
  saleor/static/dashboard-next/discounts/components/VoucherCreatePage/VoucherCreatePage.tsx
  saleor/static/dashboard-next/discounts/components/VoucherDetailsPage/VoucherDetailsPage.tsx
  saleor/static/dashboard-next/discounts/fixtures.ts
  saleor/static/dashboard-next/discounts/translations.ts
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
  saleor/static/dashboard-next/types/globalTypes.ts
  tests/api/test_discount.py
  tests/conftest.py
  tests/dashboard/test_discounts.py
  tests/test_cart.py
  tests/test_checkout.py
  tests/test_discounts.py
Labels: core, dashboard 1.0, dashboard 2.0, graphql

#4362 Improve vouchers ui
  CHANGELOG.md
  saleor/graphql/discount/mutations.py
  saleor/graphql/discount/types.py
  saleor/graphql/schema.graphql
  saleor/static/dashboard-next/components/RadioGroupField/RadioGroupField.tsx
  saleor/static/dashboard-next/components/RadioGroupField/index.ts
  saleor/static/dashboard-next/components/TextFieldWithChoice/TextFieldWithChoice.tsx
  saleor/static/dashboard-next/discounts/components/DiscountCategories/DiscountCategories.tsx
  saleor/static/dashboard-next/discounts/components/DiscountCollections/DiscountCollections.tsx
  saleor/static/dashboard-next/discounts/components/DiscountProducts/DiscountProducts.tsx
  saleor/static/dashboard-next/discounts/components/VoucherCreatePage/VoucherCreatePage.tsx
  saleor/static/dashboard-next/discounts/components/VoucherDates/VoucherDates.tsx
  saleor/static/dashboard-next/discounts/components/VoucherDates/index.ts
  saleor/static/dashboard-next/discounts/components/VoucherDetailsPage/VoucherDetailsPage.tsx
  saleor/static/dashboard-next/discounts/components/VoucherInfo/VoucherInfo.tsx
  saleor/static/dashboard-next/discounts/components/VoucherLimits/VoucherLimits.tsx
  saleor/static/dashboard-next/discounts/components/VoucherLimits/index.ts
  saleor/static/dashboard-next/discounts/components/VoucherList/VoucherList.tsx
  saleor/static/dashboard-next/discounts/components/VoucherOptions/VoucherOptions.tsx
  saleor/static/dashboard-next/discounts/components/VoucherOptions/index.ts
  saleor/static/dashboard-next/discounts/components/VoucherRequirements/VoucherRequirements.tsx
  saleor/static/dashboard-next/discounts/components/VoucherRequirements/index.ts
  saleor/static/dashboard-next/discounts/components/VoucherSummary/VoucherSummary.tsx
  saleor/static/dashboard-next/discounts/components/VoucherTypes/VoucherTypes.tsx
  saleor/static/dashboard-next/discounts/components/VoucherTypes/index.ts
  saleor/static/dashboard-next/discounts/components/VoucherValue/VoucherValue.tsx
  saleor/static/dashboard-next/discounts/components/VoucherValue/index.ts
  saleor/static/dashboard-next/discounts/fixtures.ts
  saleor/static/dashboard-next/discounts/queries.ts
  saleor/static/dashboard-next/discounts/translations.ts
  saleor/static/dashboard-next/discounts/types/VoucherCataloguesAdd.ts
  saleor/static/dashboard-next/discounts/types/VoucherCataloguesRemove.ts
  saleor/static/dashboard-next/discounts/types/VoucherCreate.ts
  saleor/static/dashboard-next/discounts/types/VoucherDetails.ts
  saleor/static/dashboard-next/discounts/types/VoucherDetailsFragment.ts
  saleor/static/dashboard-next/discounts/types/VoucherFragment.ts
  saleor/static/dashboard-next/discounts/types/VoucherList.ts
  saleor/static/dashboard-next/discounts/types/VoucherUpdate.ts
  saleor/static/dashboard-next/discounts/views/VoucherCreate.tsx
  saleor/static/dashboard-next/discounts/views/VoucherDetails.tsx
  saleor/static/dashboard-next/misc.ts
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
  saleor/static/dashboard-next/types/globalTypes.ts
  tests/api/test_discount.py
Labels: dashboard 2.0

#4394 Always return all the product/variant attributes even if no values
  CHANGELOG.md
  saleor/graphql/product/types/attributes.py
  saleor/graphql/product/types/products.py
  saleor/graphql/schema.graphql
  tests/api/benchmark/test_product.py
  tests/api/benchmark/test_variant.py
  tests/api/test_attributes.py
  tests/api/test_product.py
  tests/api/test_variant.py
Labels: attributes, graphql

#4402 Fix invalid call in the payment migrations
  saleor/payment/migrations/0002_transfer_payment_to_payment_method.py
Labels: bug, payments

#4404 Fix internal error when users enters an invalid phone number in an address
  CHANGELOG.md
  saleor/account/i18n.py
  saleor/account/validators.py
  tests/test_account.py
Labels: bug

#4329 Assign attributes to product types
  CHANGELOG.md
  saleor/static/dashboard-next/attributes/components/AttributeValueDeleteDialog/AttributeValueDeleteDialog.tsx
  saleor/static/dashboard-next/attributes/types/AttributeFragment.ts
  saleor/static/dashboard-next/attributes/types/AttributeList.ts
  saleor/static/dashboard-next/attributes/views/AttributeCreate/AttributeCreate.tsx
  saleor/static/dashboard-next/attributes/views/AttributeDetails/AttributeDetails.tsx
  saleor/static/dashboard-next/components/AssignAttributeDialog/AssignAttributeDialog.tsx
  saleor/static/dashboard-next/components/AssignAttributeDialog/index.ts
  saleor/static/dashboard-next/components/Checkbox/Checkbox.tsx
  saleor/static/dashboard-next/containers/SearchAttributes/index.tsx
  saleor/static/dashboard-next/containers/SearchAttributes/types/SearchAttributes.ts
  saleor/static/dashboard-next/productTypes/components/ProductTypeAttributeEditDialog/ProductTypeAttributeEditDialog.tsx
  saleor/static/dashboard-next/productTypes/components/ProductTypeAttributeEditDialog/index.ts
  saleor/static/dashboard-next/productTypes/components/ProductTypeAttributeUnassignDialog/ProductTypeAttributeUnassignDialog.tsx
  saleor/static/dashboard-next/productTypes/components/ProductTypeAttributeUnassignDialog/index.ts
  saleor/static/dashboard-next/productTypes/components/ProductTypeAttributes/ProductTypeAttributes.tsx
  saleor/static/dashboard-next/productTypes/components/ProductTypeBulkAttributeUnassignDialog/ProductTypeBulkAttributeUnassignDialog.tsx
  saleor/static/dashboard-next/productTypes/components/ProductTypeBulkAttributeUnassignDialog/index.ts
  saleor/static/dashboard-next/productTypes/components/ProductTypeDeleteDialog/ProductTypeDeleteDialog.tsx
  saleor/static/dashboard-next/productTypes/components/ProductTypeDeleteDialog/index.ts
  saleor/static/dashboard-next/productTypes/components/ProductTypeDetailsPage/ProductTypeDetailsPage.tsx
  saleor/static/dashboard-next/productTypes/containers/ProductTypeOperations.tsx
  saleor/static/dashboard-next/productTypes/fixtures.ts
  saleor/static/dashboard-next/productTypes/mutations.ts
  saleor/static/dashboard-next/productTypes/queries.ts
  saleor/static/dashboard-next/productTypes/types/AssignAttribute.ts
  saleor/static/dashboard-next/productTypes/types/ProductTypeCreate.ts
  saleor/static/dashboard-next/productTypes/types/ProductTypeDetails.ts
  saleor/static/dashboard-next/productTypes/types/ProductTypeDetailsFragment.ts
  saleor/static/dashboard-next/productTypes/types/ProductTypeUpdate.ts
  saleor/static/dashboard-next/productTypes/types/UnassignAttribute.ts
  saleor/static/dashboard-next/productTypes/urls.ts
  saleor/static/dashboard-next/productTypes/views/ProductTypeUpdate/index.tsx
  saleor/static/dashboard-next/products/components/ProductCreatePage/ProductCreatePage.tsx
  saleor/static/dashboard-next/products/components/ProductOrganization/ProductOrganization.tsx
  saleor/static/dashboard-next/products/components/ProductUpdatePage/ProductUpdatePage.tsx
  saleor/static/dashboard-next/products/components/ProductVariantAttributes/ProductVariantAttributes.tsx
  saleor/static/dashboard-next/products/components/ProductVariantCreatePage/ProductVariantCreatePage.tsx
  saleor/static/dashboard-next/products/views/ProductVariant.tsx
  saleor/static/dashboard-next/products/views/ProductVariantCreate.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
  saleor/static/dashboard-next/storybook/config.js
  saleor/static/dashboard-next/storybook/stories/attributes/AttributeValueDeleteDialog.tsx
  saleor/static/dashboard-next/storybook/stories/attributes/AttributeValueEditDialog.tsx
  saleor/static/dashboard-next/storybook/stories/components/AssignAttributeDialog.tsx
  saleor/static/dashboard-next/storybook/stories/productTypes/ProductTypeAttributeEditDialog.tsx
  saleor/static/dashboard-next/storybook/stories/productTypes/ProductTypeAttributeUnassignDialog.tsx
  saleor/static/dashboard-next/storybook/stories/productTypes/ProductTypeBulkAttributeUnassignDialog.tsx
  saleor/static/dashboard-next/storybook/stories/productTypes/ProductTypeDeleteDialog.tsx
  saleor/static/dashboard-next/storybook/stories/productTypes/ProductTypeDetailsPage.tsx
  saleor/static/dashboard-next/types/globalTypes.ts
Labels: attributes, dashboard 2.0

#4427 Add minimal quantity of products for voucher
  CHANGELOG.md
  saleor/checkout/utils.py
  saleor/core/utils/random_data.py
  saleor/dashboard/discount/forms.py
  saleor/dashboard/order/utils.py
  saleor/discount/migrations/0015_voucher_min_quantity_of_products.py
  saleor/discount/models.py
  saleor/discount/utils.py
  saleor/graphql/discount/mutations.py
  saleor/graphql/discount/types.py
  saleor/graphql/schema.graphql
  tests/api/test_checkout_promo_codes.py
  tests/api/test_discount.py
  tests/conftest.py
  tests/dashboard/test_discounts.py
  tests/test_checkout.py
  tests/test_discounts.py
Labels: in progress

#4435 Fix populate db of JSON attributes (HStore -> JSON)
  saleor/static/populatedb_data.json
Labels: attributes, bug

#4438 Fix attributes field in the variant mutations
  saleor/graphql/product/mutations/products.py
  tests/api/test_product.py
  tests/api/test_variant.py
Labels: attributes, bug

#4195 Add ability to store payment source
  CHANGELOG.md
  docs/guides/payments.rst
  docs/payment-gateways/braintree.rst
  saleor/account/migrations/0028_user_private_meta.py
  saleor/account/models.py
  saleor/graphql/account/resolvers.py
  saleor/graphql/account/types.py
  saleor/graphql/checkout/mutations.py
  saleor/graphql/payment/resolvers.py
  saleor/graphql/payment/schema.py
  saleor/graphql/payment/types.py
  saleor/graphql/schema.graphql
  saleor/order/utils.py
  saleor/payment/__init__.py
  saleor/payment/gateways/braintree/__init__.py
  saleor/payment/interface.py
  saleor/payment/migrations/0012_transaction_customer_id.py
  saleor/payment/models.py
  saleor/payment/utils.py
  saleor/settings.py
  tests/api/test_payment.py
  tests/gateway/cassettes/test_authorize_and_save_customer_id.yaml
  tests/gateway/cassettes/test_authorize_incorrect_token.yaml
  tests/gateway/cassettes/test_authorize_one_time.yaml
  tests/gateway/cassettes/test_authorize_with_customer_id.yaml
  tests/gateway/cassettes/test_capture.yaml
  tests/gateway/cassettes/test_capture_incorrect_token.yaml
  tests/gateway/cassettes/test_list_customer_sources.yaml
  tests/gateway/cassettes/test_refund.yaml
  tests/gateway/cassettes/test_refund_incorrect_token.yaml
  tests/gateway/cassettes/test_void.yaml
  tests/gateway/cassettes/test_void_incorrect_token.yaml
  tests/gateway/test_braintree.py
  tests/gateway/test_razorpay.py
  tests/gateway/test_stripe.py
  tests/test_payment.py
Labels: payments

#4405 Update documentation for taxes
  CHANGELOG.md
  docs/gettingstarted/configuration.rst
  docs/guides/taxes.rst
Labels: documentation

#4452 Revert dynamic middleware loading
  .isort.cfg
  CHANGELOG.md
  saleor/core/middleware.py
  saleor/graphql/middleware.py
  saleor/settings.py
  tests/test_core.py
Labels: bug

#4481 No longer allow null values as sort_order
  CHANGELOG.md
  saleor/core/models.py
  saleor/graphql/product/mutations/attributes.py
  saleor/graphql/product/mutations/products.py
  saleor/graphql/schema.graphql
  saleor/menu/migrations/0015_remove_null_sort_order.py
  saleor/product/migrations/0100_remove_null_sort_order.py
  saleor/product/models.py
  tests/api/test_product_sorting.py
  tests/test_core.py
Labels: core

#4366 Render rich-text content from Draftail in Storefront 1.0
  .isort.cfg
  Pipfile
  Pipfile.lock
  requirements.txt
  requirements_dev.txt
  saleor/core/fields.py
  saleor/core/taxes/avatax/__init__.py
  saleor/core/templatetags/content_formatting.py
  saleor/core/utils/draftjs.py
  saleor/core/utils/json_serializer.py
  saleor/core/utils/random_data.py
  saleor/core/views.py
  saleor/dashboard/forms.py
  saleor/dashboard/templatetags/utils.py
  saleor/data_feeds/google_merchant.py
  saleor/graphql/page/types.py
  saleor/graphql/product/mutations/products.py
  saleor/graphql/product/types/products.py
  saleor/page/migrations/0008_raw_html_to_json.py
  saleor/page/models.py
  saleor/page/views.py
  saleor/product/forms.py
  saleor/product/migrations/0096_raw_html_to_json.py
  saleor/product/models.py
  saleor/product/views.py
  saleor/seo/schema/email.py
  saleor/seo/schema/product.py
  saleor/settings.py
  saleor/static/js/components/description-json.js
  saleor/static/js/storefront.js
  templates/_content_formatting.html
  templates/page/details.html
  templates/product/details.html
  tests/api/test_product.py
  tests/conftest.py
  tests/settings.py
Labels: in progress, storefront 1.0

#4367 Refactor checkout creation and shipping handling
  CHANGELOG.md
  saleor/checkout/forms.py
  saleor/checkout/utils.py
  saleor/checkout/views/__init__.py
  saleor/graphql/account/types.py
  saleor/graphql/checkout/mutations.py
  saleor/graphql/checkout/types.py
  saleor/graphql/order/mutations/orders.py
  saleor/graphql/order/types.py
  saleor/graphql/order/utils.py
  saleor/order/utils.py
  saleor/shipping/models.py
  saleor/shipping/utils.py
  tests/api/test_checkout.py
  tests/test_cart.py
Labels: bug, graphql

#4500 Order is no longer created when the payment was unsuccessful in the API
  CHANGELOG.md
  saleor/graphql/checkout/mutations.py
  tests/api/test_checkout.py
Labels: bug, graphql

#4501 Fix attribute assign modal
  CHANGELOG.md
  saleor/static/dashboard-next/attributes/components/AttributeValues/AttributeValues.tsx
  saleor/static/dashboard-next/attributes/types/AttributeCreate.ts
  saleor/static/dashboard-next/attributes/types/AttributeDetails.ts
  saleor/static/dashboard-next/attributes/types/AttributeDetailsFragment.ts
  saleor/static/dashboard-next/attributes/types/AttributeUpdate.ts
  saleor/static/dashboard-next/attributes/types/AttributeValueCreate.ts
  saleor/static/dashboard-next/attributes/types/AttributeValueDelete.ts
  saleor/static/dashboard-next/attributes/types/AttributeValueUpdate.ts
  saleor/static/dashboard-next/components/AssignAttributeDialog/AssignAttributeDialog.tsx
  saleor/static/dashboard-next/components/AssignCategoryDialog/AssignCategoryDialog.tsx
  saleor/static/dashboard-next/components/AssignCollectionDialog/AssignCollectionDialog.tsx
  saleor/static/dashboard-next/components/AssignProductDialog/AssignProductDialog.tsx
  saleor/static/dashboard-next/containers/SearchAttributes/index.tsx
  saleor/static/dashboard-next/containers/SearchAttributes/types/SearchAttributes.ts
  saleor/static/dashboard-next/fixtures.ts
  saleor/static/dashboard-next/home/types/Home.ts
  saleor/static/dashboard-next/hooks/useSearchQuery.ts
  saleor/static/dashboard-next/misc.ts
  saleor/static/dashboard-next/navigation/types/MenuDetails.ts
  saleor/static/dashboard-next/navigation/types/MenuDetailsFragment.ts
  saleor/static/dashboard-next/navigation/types/MenuItemCreate.ts
  saleor/static/dashboard-next/navigation/types/MenuItemFragment.ts
  saleor/static/dashboard-next/navigation/types/MenuItemNestedFragment.ts
  saleor/static/dashboard-next/navigation/types/MenuItemUpdate.ts
  saleor/static/dashboard-next/orders/components/OrderProductAddDialog/OrderProductAddDialog.tsx
  saleor/static/dashboard-next/productTypes/containers/ProductTypeOperations.tsx
  saleor/static/dashboard-next/productTypes/queries.ts
  saleor/static/dashboard-next/productTypes/types/ProductTypeAttributeReorder.ts
  saleor/static/dashboard-next/productTypes/types/ProductTypeList.ts
  saleor/static/dashboard-next/productTypes/views/ProductTypeUpdate/index.tsx
  saleor/static/dashboard-next/products/types/Product.ts
  saleor/static/dashboard-next/products/types/ProductCreate.ts
  saleor/static/dashboard-next/products/types/ProductCreateData.ts
  saleor/static/dashboard-next/products/types/ProductDetails.ts
  saleor/static/dashboard-next/products/types/ProductImageCreate.ts
  saleor/static/dashboard-next/products/types/ProductImageFragment.ts
  saleor/static/dashboard-next/products/types/ProductImageReorder.ts
  saleor/static/dashboard-next/products/types/ProductImageUpdate.ts
  saleor/static/dashboard-next/products/types/ProductUpdate.ts
  saleor/static/dashboard-next/products/types/ProductVariant.ts
  saleor/static/dashboard-next/products/types/ProductVariantCreateData.ts
  saleor/static/dashboard-next/products/types/ProductVariantDetails.ts
  saleor/static/dashboard-next/products/types/SimpleProductUpdate.ts
  saleor/static/dashboard-next/products/types/VariantCreate.ts
  saleor/static/dashboard-next/products/types/VariantImageAssign.ts
  saleor/static/dashboard-next/products/types/VariantImageUnassign.ts
  saleor/static/dashboard-next/products/types/VariantUpdate.ts
  saleor/static/dashboard-next/storybook/stories/components/AssignAttributeDialog.tsx
  saleor/static/dashboard-next/types.ts
  saleor/static/dashboard-next/utils/handlers/queryChangeHandler.ts
Labels: attributes, dashboard 2.0

#4498 Add "value required" switch
  CHANGELOG.md
  saleor/static/dashboard-next/attributes/components/AttributeDetails/AttributeDetails.tsx
  saleor/static/dashboard-next/attributes/components/AttributePage/AttributePage.tsx
  saleor/static/dashboard-next/attributes/fixtures.ts
  saleor/static/dashboard-next/attributes/queries.ts
  saleor/static/dashboard-next/attributes/types/AttributeCreate.ts
  saleor/static/dashboard-next/attributes/types/AttributeDetails.ts
  saleor/static/dashboard-next/attributes/types/AttributeDetailsFragment.ts
  saleor/static/dashboard-next/attributes/types/AttributeUpdate.ts
  saleor/static/dashboard-next/attributes/types/AttributeValueCreate.ts
  saleor/static/dashboard-next/attributes/types/AttributeValueDelete.ts
  saleor/static/dashboard-next/attributes/types/AttributeValueUpdate.ts
  saleor/static/dashboard-next/fixtures.ts
  saleor/static/dashboard-next/products/views/ProductCreate.tsx
  saleor/static/dashboard-next/products/views/ProductUpdate.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
Labels: attributes, dashboard 2.0

#4447 Create general abstraction for object metadata
  CHANGELOG.md
  saleor/account/migrations/0029_user_meta.py
  saleor/account/migrations/0030_auto_20190719_0733.py
  saleor/account/migrations/0031_auto_20190719_0745.py
  saleor/account/models.py
  saleor/checkout/migrations/0020_auto_20190723_0722.py
  saleor/checkout/models.py
  saleor/core/models.py
  saleor/core/taxes/vatlayer/interface.py
  saleor/graphql/account/mutations.py
  saleor/graphql/account/schema.py
  saleor/graphql/account/types.py
  saleor/graphql/checkout/mutations.py
  saleor/graphql/checkout/schema.py
  saleor/graphql/checkout/types.py
  saleor/graphql/core/mutations.py
  saleor/graphql/core/resolvers.py
  saleor/graphql/core/types/__init__.py
  saleor/graphql/core/types/meta.py
  saleor/graphql/product/mutations/attributes.py
  saleor/graphql/product/mutations/products.py
  saleor/graphql/product/schema.py
  saleor/graphql/product/types/attributes.py
  saleor/graphql/product/types/digital_contents.py
  saleor/graphql/product/types/products.py
  saleor/graphql/schema.graphql
  saleor/payment/utils.py
  saleor/product/migrations/0096_auto_20190719_0339.py
  saleor/product/migrations/0097_auto_20190719_0458.py
  saleor/product/migrations/0098_auto_20190719_0733.py
  saleor/product/migrations/0099_auto_20190719_0745.py
  saleor/product/migrations/0100_merge_20190719_0803.py
  saleor/product/migrations/0101_auto_20190719_0839.py
  saleor/product/models.py
  tests/api/test_account_meta.py
  tests/api/test_payment.py
Labels: core, graphql

#4508 Contrast improvements
  CHANGELOG.md
  saleor/static/dashboard-next/auth/mutations.ts
  saleor/static/dashboard-next/auth/types/TokenAuth.ts
  saleor/static/dashboard-next/auth/types/User.ts
  saleor/static/dashboard-next/auth/types/VerifyToken.ts
  saleor/static/dashboard-next/components/AppLayout/AppLayout.tsx
  saleor/static/dashboard-next/components/Theme/ThemeProvider.tsx
  saleor/static/dashboard-next/icons/Calendar.tsx
  saleor/static/dashboard-next/icons/Draggable.tsx
  saleor/static/dashboard-next/icons/Image.tsx
  saleor/static/dashboard-next/icons/Navigation.tsx
  saleor/static/dashboard-next/icons/Orders.tsx
  saleor/static/dashboard-next/icons/Pages.tsx
  saleor/static/dashboard-next/icons/ProductTypes.tsx
  saleor/static/dashboard-next/icons/Sales.tsx
  saleor/static/dashboard-next/icons/ShippingMethods.tsx
  saleor/static/dashboard-next/icons/SiteSettings.tsx
  saleor/static/dashboard-next/icons/StaffMembers.tsx
  saleor/static/dashboard-next/icons/Taxes.tsx
  saleor/static/dashboard-next/staff/components/StaffPermissions/StaffPermissions.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
  saleor/static/dashboard-next/storybook/stories/configuration/ConfigurationPage.tsx
  saleor/static/dashboard-next/theme.ts
Labels: dashboard 2.0

#4414 Add number rows product list
  CHANGELOG.md
  saleor/static/dashboard-next/categories/components/CategoryList/CategoryList.tsx
  saleor/static/dashboard-next/categories/components/CategoryListPage/CategoryListPage.tsx
  saleor/static/dashboard-next/categories/views/CategoryList.tsx
  saleor/static/dashboard-next/collections/components/CollectionList/CollectionList.tsx
  saleor/static/dashboard-next/collections/components/CollectionListPage/CollectionListPage.tsx
  saleor/static/dashboard-next/collections/views/CollectionList.tsx
  saleor/static/dashboard-next/components/ProductList/ProductList.tsx
  saleor/static/dashboard-next/components/RowNumberSelect/RowNumberSelect.tsx
  saleor/static/dashboard-next/components/RowNumberSelect/index.ts
  saleor/static/dashboard-next/components/TablePagination/TablePagination.tsx
  saleor/static/dashboard-next/config.ts
  saleor/static/dashboard-next/customers/components/CustomerList/CustomerList.tsx
  saleor/static/dashboard-next/customers/components/CustomerListPage/CustomerListPage.tsx
  saleor/static/dashboard-next/customers/views/CustomerList.tsx
  saleor/static/dashboard-next/discounts/components/SaleList/SaleList.tsx
  saleor/static/dashboard-next/discounts/components/SaleListPage/SaleListPage.tsx
  saleor/static/dashboard-next/discounts/components/VoucherList/VoucherList.tsx
  saleor/static/dashboard-next/discounts/components/VoucherListPage/VoucherListPage.tsx
  saleor/static/dashboard-next/discounts/views/SaleList.tsx
  saleor/static/dashboard-next/discounts/views/VoucherList.tsx
  saleor/static/dashboard-next/fixtures.ts
  saleor/static/dashboard-next/hooks/useListSettings.ts
  saleor/static/dashboard-next/navigation/components/MenuList/MenuList.tsx
  saleor/static/dashboard-next/navigation/components/MenuListPage/MenuListPage.tsx
  saleor/static/dashboard-next/navigation/views/MenuList.tsx
  saleor/static/dashboard-next/orders/components/OrderDraftList/OrderDraftList.tsx
  saleor/static/dashboard-next/orders/components/OrderDraftListPage/OrderDraftListPage.tsx
  saleor/static/dashboard-next/orders/components/OrderList/OrderList.tsx
  saleor/static/dashboard-next/orders/views/OrderDraftList.tsx
  saleor/static/dashboard-next/orders/views/OrderList/OrderList.tsx
  saleor/static/dashboard-next/pages/components/PageList/PageList.tsx
  saleor/static/dashboard-next/pages/components/PageListPage/PageListPage.tsx
  saleor/static/dashboard-next/pages/views/PageList.tsx
  saleor/static/dashboard-next/products/components/ProductListCard/ProductListCard.tsx
  saleor/static/dashboard-next/products/views/ProductList/ProductList.tsx
  saleor/static/dashboard-next/shipping/components/ShippingZonesList/ShippingZonesList.tsx
  saleor/static/dashboard-next/shipping/components/ShippingZonesListPage/ShippingZonesListPage.tsx
  saleor/static/dashboard-next/shipping/views/ShippingZonesList.tsx
  saleor/static/dashboard-next/staff/components/StaffList/StaffList.tsx
  saleor/static/dashboard-next/staff/components/StaffListPage/StaffListPage.tsx
  saleor/static/dashboard-next/staff/views/StaffList.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
  saleor/static/dashboard-next/types.ts
Labels: dashboard 2.0

#4518 Added unique check constraint in M2M models
  CHANGELOG.md
  saleor/product/migrations/0103_remove_dups.py
  saleor/product/models.py
Labels: attributes, bug

#4512 Improve maybe util function types
  saleor/static/dashboard-next/misc.ts
Labels: dashboard 2.0

#4549 Do not lose focus while typing in product description field
  CHANGELOG.md
  saleor/static/dashboard-next/products/components/ProductCreatePage/ProductCreatePage.tsx
  saleor/static/dashboard-next/products/components/ProductDetailsForm/ProductDetailsForm.tsx
  saleor/static/dashboard-next/products/components/ProductUpdatePage/ProductUpdatePage.tsx
Labels: dashboard 2.0

#4542 Input UI changes
  CHANGELOG.md
  saleor/static/dashboard-next/components/Checkbox/Checkbox.tsx
  saleor/static/dashboard-next/components/RichTextEditor/RichTextEditor.tsx
  saleor/static/dashboard-next/components/SeoForm/SeoForm.tsx
  saleor/static/dashboard-next/components/Theme/ThemeProvider.tsx
  saleor/static/dashboard-next/customers/components/CustomerDetailsPage/CustomerDetailsPage.tsx
  saleor/static/dashboard-next/discounts/components/SalePricing/SalePricing.tsx
  saleor/static/dashboard-next/discounts/components/VoucherDates/VoucherDates.tsx
  saleor/static/dashboard-next/staff/components/StaffDetailsPage/StaffDetailsPage.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
  saleor/static/dashboard-next/theme.ts
Labels: dashboard 2.0

#4506 Add shifting for sort order
  CHANGELOG.md
  saleor/core/models.py
  saleor/graphql/core/interfaces.py
  saleor/graphql/core/utils.py
  saleor/graphql/core/utils/__init__.py
  saleor/graphql/core/utils/reordering.py
  saleor/graphql/product/mutations/attributes.py
  saleor/graphql/product/mutations/products.py
  saleor/graphql/product/schema.py
  saleor/graphql/product/types/attributes.py
  saleor/graphql/schema.graphql
  saleor/menu/migrations/0015_auto_20190725_0811.py
  saleor/menu/migrations/0015_remove_null_sort_order.py
  saleor/product/migrations/0100_auto_20190626_0815.py
  saleor/product/migrations/0101_remove_null_sort_order.py
  saleor/product/migrations/0102_unique_slug_attributes.py
  saleor/product/migrations/0103_attribute_available_in_grid.py
  saleor/product/migrations/0103_migrate_attrs_to_m2m.py
  saleor/product/migrations/0104_attribute_input_type_multiple_values.py
  saleor/product/migrations/0105_remove_dups.py
  saleor/product/migrations/0106_nullable_sort_logic.py
  saleor/product/models.py
  tests/api/test_attributes.py
  tests/api/test_core_reordering.py
  tests/api/test_product_sorting.py
  tests/conftest.py
  tests/test_core.py
Labels: attributes, core, graphql

#4552 Add support for multi values and attribute visibility in storefront 1.0
  .isort.cfg
  saleor/product/filters.py
  saleor/product/utils/attributes.py
  templates/product/details.html
  tests/conftest.py
  tests/test_product.py
Labels: attributes, storefront 1.0

#4556 Add voucher settings
  CHANGELOG.md
  saleor/static/dashboard-next/discounts/components/VoucherCreatePage/VoucherCreatePage.tsx
  saleor/static/dashboard-next/discounts/components/VoucherDetailsPage/VoucherDetailsPage.tsx
  saleor/static/dashboard-next/discounts/components/VoucherLimits/VoucherLimits.tsx
  saleor/static/dashboard-next/discounts/components/VoucherRequirements/VoucherRequirements.tsx
  saleor/static/dashboard-next/discounts/fixtures.ts
  saleor/static/dashboard-next/discounts/queries.ts
  saleor/static/dashboard-next/discounts/types/VoucherCataloguesAdd.ts
  saleor/static/dashboard-next/discounts/types/VoucherCataloguesRemove.ts
  saleor/static/dashboard-next/discounts/types/VoucherCreate.ts
  saleor/static/dashboard-next/discounts/types/VoucherDetails.ts
  saleor/static/dashboard-next/discounts/types/VoucherDetailsFragment.ts
  saleor/static/dashboard-next/discounts/types/VoucherFragment.ts
  saleor/static/dashboard-next/discounts/types/VoucherList.ts
  saleor/static/dashboard-next/discounts/types/VoucherUpdate.ts
  saleor/static/dashboard-next/discounts/views/VoucherCreate.tsx
  saleor/static/dashboard-next/discounts/views/VoucherDetails.tsx
  saleor/static/dashboard-next/storybook/__snapshots__/Stories.test.ts.snap
  saleor/static/dashboard-next/types/globalTypes.ts
Labels: dashboard 2.0

#4560 Return the attributes custom sorting in all graphql and 1.0 query
  saleor/dashboard/product/forms.py
  saleor/dashboard/product/views.py
  saleor/graphql/product/resolvers.py
  saleor/graphql/product/types/products.py
  saleor/product/models.py
  saleor/product/utils/attributes.py
  saleor/product/utils/variants_picker.py
  templates/dashboard/product/product_type/list.html
  tests/api/test_attributes.py
Labels: dashboard 1.0, graphql, storefront 1.0
