Repository saleor/saleor, pull requests merged in 2019-08, with the labels that each got.

#4579 Fix filters order in storefront
  saleor/product/filters.py
  tests/test_category.py
Labels: attributes, storefront 1.0

#4590 Improve performances when querying attributes of a node
  saleor/graphql/product/types/products.py
Labels: attributes, graphql, performance

#4588 Remove test warnings
  CHANGELOG.md
  saleor/static/dashboard-next/navigation/components/MenuItemDialog/MenuItemDialog.tsx
  saleor/static/dashboard-next/theme.ts
Labels: dashboard 2.0

#4578 Add filtering capabilities to unassigned attributes field
  Pipfile
  Pipfile.lock
  saleor/graphql/product/filters.py
  saleor/graphql/product/resolvers.py
  saleor/graphql/product/schema.py
  saleor/graphql/product/types/products.py
  saleor/graphql/schema.graphql
  saleor/graphql/utils.py
  tests/api/test_product.py
Labels: attributes, graphql

#4594 Fixed duplicate page slug in populatedb when the about page was edited
  saleor/core/utils/random_data.py
Labels: bug

#4597 No longer accept invalid IP addresses in core's get_client_ip
  CHANGELOG.md
  saleor/core/utils/__init__.py
  tests/test_core.py
Labels: bug

#4602 Upgrade the JSON lookup from django 2.2.4
  saleor/core/fields.py
  tests/test_core.py
Labels: attributes, core

#4593 Squash and finalize migrations from WiP
  saleor/product/migrations/0102_migrate_data_enterprise_grade_attributes.py
  saleor/product/migrations/0102_unique_slug_attributes.py
  saleor/product/migrations/0103_attribute_available_in_grid.py
  saleor/product/migrations/0103_migrate_attrs_to_m2m.py
  saleor/product/migrations/0103_schema_data_enterprise_grade_attributes.py
  saleor/product/migrations/0104_attribute_input_type_multiple_values.py
  saleor/product/migrations/0105_remove_dups.py
  saleor/product/migrations/0106_nullable_sort_logic.py
Labels: attributes, core

#4510 Refactor account mutations
  CHANGELOG.md
  saleor/graphql/account/mutations.py
  saleor/graphql/account/mutations/__init__.py
  saleor/graphql/account/mutations/account.py
  saleor/graphql/account/mutations/base.py
  saleor/graphql/account/mutations/deprecated_account.py
  saleor/graphql/account/mutations/deprecated_staff.py
  saleor/graphql/account/mutations/staff.py
  saleor/graphql/account/schema.py
  saleor/graphql/schema.graphql
  tests/api/test_account.py
Labels: graphql

#4638 Fixed the invalid migration of attributes from HStore to JSONB
  saleor/product/migrations/0102_migrate_data_enterprise_grade_attributes.py
  saleor/product/migrations/0104_fix_invalid_attributes_map.py
Labels: attributes, bug

#4617 Refactor password recovery mutations
  CHANGELOG.md
  saleor/account/emails.py
  saleor/core/utils/url.py
  saleor/graphql/account/mutations/base.py
  saleor/graphql/account/mutations/deprecated_account.py
  saleor/graphql/account/mutations/deprecated_staff.py
  saleor/graphql/schema.graphql
  saleor/settings.py
  tests/api/test_account.py
  tests/settings.py
Labels: graphql

#4645 Added capability to filter attributes per global ID
  CHANGELOG.md
  saleor/graphql/product/filters.py
  saleor/graphql/schema.graphql
  tests/api/test_attributes.py
Labels: graphql

#4654 Added capability to filter attributes per global ID
  CHANGELOG.md
  saleor/graphql/product/filters.py
  saleor/graphql/schema.graphql
  tests/api/test_attributes.py
Labels: graphql

#4660 Added travis check for pydocstyle
  .travis.yml
  saleor/core/fields.py
  saleor/graphql/core/utils/reordering.py
  saleor/graphql/product/mutations/attributes.py
  saleor/graphql/product/utils.py
  saleor/product/utils/variants_picker.py
  tox.ini
Labels: technical debt

#4664 Fix wrong calculation of total in checkout details
  saleor/checkout/utils.py
  saleor/extensions/plugins/avatax/plugin.py
  saleor/settings.py
  tests/test_checkout.py
Labels: bug

#4647 Added capability to search product types by value (through the name)
  CHANGELOG.md
  saleor/graphql/descriptions.py
  saleor/graphql/product/filters.py
  saleor/graphql/product/resolvers.py
  saleor/graphql/product/schema.py
  saleor/graphql/schema.graphql
  tests/api/test_product.py
Labels: graphql

#4656 Add mutation to change the authenticated user's password
  CHANGELOG.md
  saleor/account/__init__.py
  saleor/account/events.py
  saleor/graphql/account/mutations/base.py
  saleor/graphql/account/schema.py
  saleor/graphql/schema.graphql
  tests/api/test_account.py
Labels: graphql, in progress

#4606 New stripe gateway implementation
  CHANGELOG.md
  saleor/graphql/payment/mutations.py
  saleor/graphql/payment/schema.py
  saleor/graphql/schema.graphql
  saleor/payment/__init__.py
  saleor/payment/gateways/braintree/__init__.py
  saleor/payment/gateways/dummy/__init__.py
  saleor/payment/gateways/razorpay/__init__.py
  saleor/payment/gateways/stripe/__init__.py
  saleor/payment/gateways/stripe/errors.py
  saleor/payment/gateways/stripe/forms.py
  saleor/payment/gateways/stripe/utils.py
  saleor/payment/interface.py
  saleor/payment/migrations/0013_auto_20190813_0735.py
  saleor/payment/models.py
  saleor/payment/utils.py
  saleor/settings.py
  tests/api/test_gift_card.py
  tests/api/test_payment.py
  tests/gateway/cassettes/test_authorize_error_response.yaml
  tests/gateway/stripe/__init__.py
  tests/gateway/stripe/cassettes/test_authorize.yaml
  tests/gateway/stripe/cassettes/test_authorize_3d_secure.yaml
  tests/gateway/stripe/cassettes/test_authorize_and_save_customer_id.yaml
  tests/gateway/stripe/cassettes/test_authorize_error_response.yaml
  tests/gateway/stripe/cassettes/test_authorize_with_customer_id.yaml
  tests/gateway/stripe/cassettes/test_authorize_without_capture.yaml
  tests/gateway/stripe/cassettes/test_capture.yaml
  tests/gateway/stripe/cassettes/test_capture_3d_secure.yaml
  tests/gateway/stripe/cassettes/test_capture_error_response.yaml
  tests/gateway/stripe/cassettes/test_confirm__intent.yaml
  tests/gateway/stripe/cassettes/test_confirm_error_response.yaml
  tests/gateway/stripe/cassettes/test_list_customer_sources.yaml
  tests/gateway/stripe/cassettes/test_refund.yaml
  tests/gateway/stripe/cassettes/test_refund_error_response.yaml
  tests/gateway/stripe/cassettes/test_void.yaml
  tests/gateway/stripe/cassettes/test_void_error_response.yaml
  tests/gateway/stripe/test_stripe.py
  tests/gateway/stripe/test_utils.py
  tests/gateway/test_braintree.py
  tests/gateway/test_stripe.py
  tests/test_payment.py
Labels: integrations, payments

#4655 Change AddressValidationRules API
  CHANGELOG.md
  saleor/graphql/account/resolvers.py
  saleor/graphql/account/schema.py
  saleor/graphql/account/utils.py
  saleor/graphql/schema.graphql
  tests/api/test_account.py
Labels: graphql

#4677 Fix rendering price filter in Storefront 1.0
  .isort.cfg
  templates/product/product_list_base.html
Labels: storefront 1.0

#4668 Refactor account delete mutations
  CHANGELOG.md
  saleor/account/emails.py
  saleor/account/forms.py
  saleor/account/migrations/0020_user_token.py
  saleor/account/migrations/0021_unique_token.py
  saleor/account/migrations/0032_remove_user_token.py
  saleor/account/models.py
  saleor/account/views.py
  saleor/graphql/account/mutations/account.py
  saleor/graphql/account/mutations/base.py
  saleor/graphql/account/mutations/deprecated_staff.py
  saleor/graphql/schema.graphql
  tests/api/test_account.py
  tests/test_account.py
Labels: graphql
