Repository saleor/saleor, pull requests merged in 2019-04, with the labels that each got.

#3918 Report pretty stack traces in DEBUG mode
  saleor/graphql/views.py
Labels: graphql

#3925 Fix tests with django 2.2
  .travis.yml
  requirements.txt
  saleor/account/models.py
  saleor/checkout/models.py
  saleor/dashboard/emails.py
  saleor/graphql/account/mutations.py
  tests/dashboard/test_customer.py
  tests/dashboard/test_product.py
  tests/dashboard/test_staff.py
  tox.ini
Labels: bug

#3935 Add mutation for bulk delete order lines
  CHANGELOG.md
  saleor/graphql/order/bulk_mutations/draft_orders.py
  saleor/graphql/order/schema.py
  saleor/graphql/schema.graphql
  tests/api/test_bulk_delete.py
Labels: graphql

#3959 Fix dashboard 1.0 missing logo and missing back arrow on collections
  CHANGELOG.md
  templates/dashboard/base.html
  templates/dashboard/collection/detail.html
Labels: bug, dashboard 1.0

#3954 Add mutations for (un)publish multiple pages
  CHANGELOG.md
  saleor/graphql/core/mutations.py
  saleor/graphql/page/bulk_mutations.py
  saleor/graphql/page/schema.py
  saleor/graphql/schema.graphql
  tests/api/test_bulk_delete.py
  tests/api/test_page.py
  tests/conftest.py
Labels: graphql

#3961 Prefetch collections when getting sales of a bunch of products
  CHANGELOG.md
  saleor/product/utils/__init__.py
  saleor/product/views.py
Labels: performance, storefront 1.0

#3967 Add mutation for bulk cancel orders
  CHANGELOG.md
  saleor/graphql/core/mutations.py
  saleor/graphql/order/bulk_mutations/orders.py
  saleor/graphql/order/schema.py
  saleor/graphql/schema.graphql
  tests/api/test_order.py
Labels: graphql

#3973 Removed the dead `children` field from the `Menu` type
  CHANGELOG.md
  saleor/graphql/menu/types.py
  saleor/graphql/schema.graphql
Labels: bug, graphql

#3969 Add mutations for bulk publish products
  CHANGELOG.md
  saleor/graphql/product/bulk_mutations/products.py
  saleor/graphql/product/schema.py
  saleor/graphql/schema.graphql
  tests/api/test_product.py
  tests/conftest.py
Labels: graphql

#3974 Remove unpublish mutation in favor of one with parameter
  saleor/graphql/core/mutations.py
  saleor/graphql/page/bulk_mutations.py
  saleor/graphql/page/schema.py
  saleor/graphql/schema.graphql
  tests/api/test_page.py
Labels: graphql

#3958 Implement the menu items reorder mutation
  CHANGELOG.md
  saleor/graphql/menu/mutations.py
  saleor/graphql/menu/schema.py
  saleor/graphql/menu/types.py
  saleor/graphql/schema.graphql
  tests/api/test_bulk_delete.py
  tests/api/test_menu.py
  tests/conftest.py
Labels: graphql

#3976 Add mutation for setting up multiple accounts to (un)active
  saleor/graphql/account/bulk_mutations.py
  saleor/graphql/account/schema.py
  saleor/graphql/schema.graphql
  tests/api/conftest.py
  tests/api/test_account.py
  tests/api/test_bulk_delete.py
Labels: graphql

#3980 Simplify permission management in API through meta classes
  CHANGELOG.md
  saleor/graphql/account/bulk_mutations.py
  saleor/graphql/account/mutations.py
  saleor/graphql/core/mutations.py
  saleor/graphql/discount/bulk_mutations.py
  saleor/graphql/discount/mutations.py
  saleor/graphql/menu/bulk_mutations.py
  saleor/graphql/menu/mutations.py
  saleor/graphql/order/bulk_mutations/draft_orders.py
  saleor/graphql/order/bulk_mutations/orders.py
  saleor/graphql/order/mutations/draft_orders.py
  saleor/graphql/order/mutations/fulfillments.py
  saleor/graphql/order/mutations/orders.py
  saleor/graphql/page/bulk_mutations.py
  saleor/graphql/page/mutations.py
  saleor/graphql/payment/mutations.py
  saleor/graphql/product/bulk_mutations/attributes.py
  saleor/graphql/product/bulk_mutations/products.py
  saleor/graphql/product/mutations/attributes.py
  saleor/graphql/product/mutations/products.py
  saleor/graphql/shipping/bulk_mutations.py
  saleor/graphql/shipping/mutations.py
  saleor/graphql/shop/mutations.py
  saleor/graphql/translations/mutations.py
  tests/api/test_core.py
Labels: graphql

#3981 Hide errors in TokenVerify mutation
  CHANGELOG.md
  saleor/graphql/core/mutations.py
  tests/api/test_core.py
Labels: graphql, in progress

#3948 Implement variant availability, introducing discounts in variants
  CHANGELOG.md
  saleor/core/utils/__init__.py
  saleor/dashboard/product/views.py
  saleor/graphql/core/types/__init__.py
  saleor/graphql/product/types.py
  saleor/graphql/schema.graphql
  saleor/product/models.py
  saleor/product/utils/availability.py
  saleor/product/utils/variants_picker.py
  saleor/product/views.py
  tests/api/test_graphql.py
  tests/api/test_product.py
  tests/api/test_variant_pricing.py
  tests/test_product_availability.py
Labels: graphql

#3971 Use always the newest GraphQL playground version
  CHANGELOG.md
  templates/graphql/playground.html
Labels: graphql

#4002 Fix checkout preview update line quantities
  saleor/checkout/forms.py
  saleor/checkout/models.py
  saleor/checkout/views/__init__.py
  saleor/static/images/checkout.svg
  saleor/static/images/empty-checkout-bg.png
  saleor/static/images/empty-checkout-bg2x.png
  saleor/static/js/components/checkout.js
  saleor/static/js/components/variant-picker.js
  saleor/static/js/components/variantPicker/VariantPicker.js
  saleor/static/js/storefront.js
  saleor/static/scss/components/_checkout-dropdown.scss
  saleor/static/scss/components/_header.scss
  saleor/static/scss/layouts/_cart.scss
  saleor/static/scss/layouts/_checkout.scss
  saleor/static/scss/storefront.scss
  templates/base.html
  templates/checkout/_subtotal_table.html
  templates/checkout/index.html
  templates/checkout_dropdown.html
  templates/product/details.html
  templates/styleguide.html
  tests/test_cart.py
Labels: bug, storefront 1.0

#3952 Filtering interface implementation
  CHANGELOG.md
  saleor/discount/models.py
  saleor/graphql/account/enums.py
  saleor/graphql/account/filters.py
  saleor/graphql/account/schema.py
  saleor/graphql/core/fields.py
  saleor/graphql/core/filters.py
  saleor/graphql/core/types/__init__.py
  saleor/graphql/core/types/common.py
  saleor/graphql/core/types/converter.py
  saleor/graphql/core/types/filter_input.py
  saleor/graphql/discount/enums.py
  saleor/graphql/discount/filters.py
  saleor/graphql/discount/schema.py
  saleor/graphql/order/enums.py
  saleor/graphql/order/filters.py
  saleor/graphql/order/schema.py
  saleor/graphql/order/types.py
  saleor/graphql/product/enums.py
  saleor/graphql/product/filters.py
  saleor/graphql/product/resolvers.py
  saleor/graphql/product/schema.py
  saleor/graphql/product/types/__init__.py
  saleor/graphql/product/types/attributes.py
  saleor/graphql/product/types/digital_contents.py
  saleor/graphql/product/types/products.py
  saleor/graphql/schema.graphql
  tests/api/test_account.py
  tests/api/test_attributes.py
  tests/api/test_core.py
  tests/api/test_discount.py
  tests/api/test_order.py
  tests/api/test_product.py
Labels: graphql

#4009 Restrict single payment resolving
  CHANGELOG.md
  saleor/graphql/payment/schema.py
  tests/api/test_payment.py
Labels: bug, graphql

#4005 Adding to checkout now ensures the user doesn't add too many
  CHANGELOG.md
  saleor/checkout/forms.py
  saleor/graphql/checkout/mutations.py
  tests/api/test_checkout.py
  tests/conftest.py
  tests/settings.py
  tests/test_cart.py
  tests/test_product.py
Labels: bug, storefront 1.0

#4037 Fix accidental invalid word in dashboard for the release version of Saleor
  templates/dashboard/base.html
Labels: dashboard 1.0

#3968 Overall improvement of the storefront 2.0 performances
  CHANGELOG.md
  Pipfile
  Pipfile.lock
  requirements.txt
  saleor/dashboard/order/views.py
  saleor/graphql/checkout/mutations.py
  saleor/graphql/core/connection.py
  saleor/graphql/core/utils.py
  saleor/graphql/payment/mutations.py
  saleor/graphql/product/types/products.py
Labels: graphql, performance

#4044 Fix the broken table in the payments architecture
  docs/architecture/payments.rst
Labels: documentation
