Repository saleor/saleor, pull requests merged in 2019-11, with the labels that each got.

#4921 Reworked the JWT middleware tests so they actually execute the chain
  tests/api/test_graphql.py
Labels: bug

#4906 Added a white-list of errors that should not be logged as exceptions
  saleor/graphql/views.py
  saleor/settings.py
  tests/api/test_view.py
Labels: core, graphql

#4930 Added filtering for sentry to ignore non demo origins and playground
  saleor/settings_demo.py
Labels: demo

#4936 Fix product variant update with same attribute values
  CHANGELOG.md
  saleor/graphql/product/mutations/products.py
  saleor/graphql/product/utils.py
  tests/api/test_variant.py
Labels: graphql

#4942 Fix problem with free shipping voucher
  CHANGELOG.md
  saleor/checkout/utils.py
  tests/conftest.py
  tests/test_checkout.py
Labels: bug

#4952 Deprecate `localized` field in Money type
  CHANGELOG.md
  saleor/graphql/core/types/money.py
  saleor/graphql/schema.graphql
Labels: graphql

#4960 Added project filtering for sentry using tags
  saleor/settings_demo.py
Labels: demo

#4973 Add cutomer note to draft orders api
  CHANGELOG.md
  saleor/graphql/order/mutations/draft_orders.py
  saleor/graphql/schema.graphql
  tests/api/test_order.py
Labels: graphql

#4914 Query object translation with only manage_translation permission
  CHANGELOG.md
  saleor/graphql/page/resolvers.py
  saleor/graphql/schema.graphql
  saleor/graphql/translations/schema.py
  saleor/graphql/translations/types.py
  tests/api/test_translations.py
  tests/conftest.py
Labels: graphql

#4995 Optimize the queries for product list in the dashboard
  CHANGELOG.md
  saleor/graphql/product/types/products.py
Labels: graphql, performance

#5005 Bump dependencies and fix crash on serialization of weights
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
Labels: bug

#5004 Fixed JSON encoding error on Google Analytics reporting
  CHANGELOG.md
  saleor/core/analytics.py
  tests/test_analytics.py
Labels: bug

#5007 Refactor translation queries
  CHANGELOG.md
  saleor/graphql/api.py
  saleor/graphql/discount/types.py
  saleor/graphql/menu/types.py
  saleor/graphql/page/types.py
  saleor/graphql/product/types/attributes.py
  saleor/graphql/product/types/products.py
  saleor/graphql/schema.graphql
  saleor/graphql/shipping/types.py
  saleor/graphql/shop/types.py
  saleor/graphql/translations/descriptions.py
  saleor/graphql/translations/fields.py
  saleor/graphql/translations/schema.py
  saleor/graphql/translations/types.py
  tests/api/test_product.py
  tests/api/test_translations.py
Labels: graphql
