Repository saleor/saleor, pull requests merged in 2019-09, with the labels that each got.

#4705 Dashboard 1 attribute form no longer sets null/false values by default
  saleor/dashboard/product/forms.py
  tests/dashboard/test_product.py
Labels: bug, dashboard 1.0

#4717 Add redirectUrl to staff and user create mutations
  CHANGELOG.md
  saleor/account/emails.py
  saleor/core/utils/url.py
  saleor/dashboard/customer/views.py
  saleor/dashboard/emails.py
  saleor/dashboard/staff/views.py
  saleor/graphql/account/mutations/base.py
  saleor/graphql/account/mutations/staff.py
  saleor/graphql/schema.graphql
  saleor/settings.py
  tests/api/test_account.py
  tests/settings.py
Labels: graphql, in progress

#4715 Filtering: use search in a consistent way
  CHANGELOG.md
  saleor/extensions/manager.py
  saleor/graphql/extensions/filters.py
  saleor/graphql/extensions/schema.py
  saleor/graphql/menu/filters.py
  saleor/graphql/menu/schema.py
  saleor/graphql/order/filters.py
  saleor/graphql/page/filters.py
  saleor/graphql/page/schema.py
  saleor/graphql/product/enums.py
  saleor/graphql/product/filters.py
  saleor/graphql/product/schema.py
  saleor/graphql/schema.graphql
  saleor/graphql/utils.py
  tests/api/test_extensions.py
  tests/api/test_graphql.py
  tests/api/test_menu.py
  tests/api/test_order.py
  tests/api/test_page.py
  tests/api/test_product.py
  tests/conftest.py
Labels: graphql, in progress

#4663 Drop JSONB mapping of attributes for M2M relations
  CHANGELOG.md
  saleor/core/db/__init__.py
  saleor/core/db/fields.py
  saleor/core/fields.py
  saleor/core/utils/random_data.py
  saleor/dashboard/product/forms.py
  saleor/dashboard/product/views.py
  saleor/graphql/checkout/mutations.py
  saleor/graphql/core/mutations.py
  saleor/graphql/core/utils/__init__.py
  saleor/graphql/payment/mutations.py
  saleor/graphql/product/filters.py
  saleor/graphql/product/interfaces.py
  saleor/graphql/product/mutations/attributes.py
  saleor/graphql/product/mutations/products.py
  saleor/graphql/product/types/attributes.py
  saleor/graphql/product/types/products.py
  saleor/graphql/product/utils.py
  saleor/page/migrations/0008_raw_html_to_json.py
  saleor/page/models.py
  saleor/product/filters.py
  saleor/product/migrations/0059_generate_variant_name_from_attrs.py
  saleor/product/migrations/0096_raw_html_to_json.py
  saleor/product/migrations/0103_schema_data_enterprise_grade_attributes.py
  saleor/product/migrations/0107_attributes_map_to_m2m.py
  saleor/product/models.py
  saleor/product/tasks.py
  saleor/product/utils/__init__.py
  saleor/product/utils/attributes.py
  saleor/product/utils/variants_picker.py
  saleor/product/views.py
  saleor/seo/schema/product.py
  saleor/static/populatedb_data.json
  templates/product/details.html
  tests/api/conftest.py
  tests/api/test_attributes.py
  tests/api/test_base_mutation.py
  tests/api/test_checkout.py
  tests/api/test_product.py
  tests/api/test_variant.py
  tests/conftest.py
  tests/dashboard/test_product.py
  tests/test_core.py
  tests/test_product.py
  tests/test_product_attributes.py
  tests/test_seo_schema.py
  tests/utils.py
Labels: attributes, core

#4669 Extract payment plugins
  CHANGELOG.md
  saleor/core/payments.py
  saleor/core/utils/random_data.py
  saleor/dashboard/order/forms.py
  saleor/extensions/base_plugin.py
  saleor/extensions/manager.py
  saleor/graphql/account/resolvers.py
  saleor/graphql/checkout/mutations.py
  saleor/graphql/checkout/types.py
  saleor/graphql/extensions/schema.py
  saleor/graphql/order/mutations/orders.py
  saleor/graphql/payment/mutations.py
  saleor/graphql/payment/resolvers.py
  saleor/graphql/payment/schema.py
  saleor/order/forms.py
  saleor/order/utils.py
  saleor/order/views.py
  saleor/payment/__init__.py
  saleor/payment/gateway.py
  saleor/payment/gateways/braintree/__init__.py
  saleor/payment/gateways/braintree/plugin.py
  saleor/payment/gateways/dummy/plugin.py
  saleor/payment/gateways/razorpay/plugin.py
  saleor/payment/gateways/stripe/plugin.py
  saleor/payment/models.py
  saleor/payment/utils.py
  saleor/settings.py
  tests/api/benchmark/test_payment.py
  tests/api/test_checkout.py
  tests/api/test_checkout_digital.py
  tests/api/test_order.py
  tests/api/test_payment.py
  tests/conftest.py
  tests/extensions/test_manager.py
  tests/gateway/test_braintree.py
  tests/gateway/test_dummy.py
  tests/gateway/test_gateway.py
  tests/settings.py
  tests/test_payment.py
Labels: payments, plugin

#4751 Add 3D secure require flag to braintree plugin dynamic configuration
  CHANGELOG.md
  saleor/extensions/base_plugin.py
  saleor/payment/gateways/braintree/__init__.py
  saleor/payment/gateways/braintree/plugin.py
  saleor/payment/interface.py
  tests/extensions/test_manager.py
Labels: payments, plugin

#4734 Unified MenuItemMove to other reordering mutations
  CHANGELOG.md
  saleor/graphql/core/utils/reordering.py
  saleor/graphql/menu/mutations.py
  saleor/graphql/menu/types.py
  saleor/graphql/schema.graphql
  saleor/graphql/views.py
  tests/api/test_core_reordering.py
  tests/api/test_menu.py
  tests/api/test_view.py
Labels: graphql

#4740 Implement product sorting by attribute
  CHANGELOG.md
  saleor/graphql/product/resolvers.py
  saleor/graphql/product/types/products.py
  saleor/graphql/schema.graphql
  saleor/product/models.py
  tests/api/benchmark/test_product.py
  tests/api/test_product_sorting.py
  tests/api/test_product_sorting_attributes.py
  tests/api/utils.py
Labels: attributes, graphql

#4758 Add descriptions for queries
  CHANGELOG.md
  saleor/graphql/account/mutations/base.py
  saleor/graphql/account/schema.py
  saleor/graphql/checkout/schema.py
  saleor/graphql/core/fields.py
  saleor/graphql/discount/schema.py
  saleor/graphql/extensions/schema.py
  saleor/graphql/giftcard/schema.py
  saleor/graphql/menu/schema.py
  saleor/graphql/order/schema.py
  saleor/graphql/page/schema.py
  saleor/graphql/payment/schema.py
  saleor/graphql/product/schema.py
  saleor/graphql/schema.graphql
  saleor/graphql/shipping/schema.py
  saleor/graphql/shop/schema.py
  saleor/graphql/translations/schema.py
  saleor/graphql/utils.py
  tests/api/test_graphql.py
  tests/api/test_order.py
  tests/api/test_payment.py
Labels: in progress

#4754 Fixed invalid handling of nulls values in product variant prices
  CHANGELOG.md
  saleor/graphql/product/mutations/products.py
  tests/api/test_variant.py
Labels: bug, graphql

#4756 Remove all static payment settings
  CHANGELOG.md
  saleor/core/payments.py
  saleor/core/utils/random_data.py
  saleor/extensions/base_plugin.py
  saleor/extensions/manager.py
  saleor/graphql/account/resolvers.py
  saleor/graphql/checkout/types.py
  saleor/graphql/payment/enums.py
  saleor/graphql/payment/mutations.py
  saleor/graphql/payment/resolvers.py
  saleor/graphql/payment/schema.py
  saleor/graphql/schema.graphql
  saleor/order/forms.py
  saleor/order/views.py
  saleor/payment/__init__.py
  saleor/payment/gateway.py
  saleor/payment/gateways/braintree/plugin.py
  saleor/payment/gateways/dummy/plugin.py
  saleor/payment/gateways/razorpay/plugin.py
  saleor/payment/gateways/stripe/plugin.py
  saleor/settings.py
  tests/api/benchmark/test_checkout.py
  tests/api/test_checkout.py
  tests/api/test_order.py
  tests/api/test_payment.py
  tests/conftest.py
  tests/extensions/test_manager.py
  tests/gateway/test_gateway.py
  tests/test_order.py
  tests/test_payment.py
Labels: graphql, payments, plugin, technical debt

#4770 Fixed known issues related of sorting a given attribute ID to sort by
  saleor/graphql/product/resolvers.py
  saleor/product/models.py
  tests/api/test_product_sorting_attributes.py
Labels: attributes, bug, graphql

#4769 Fixed random failure of creating users in populatedb
  CHANGELOG.md
  saleor/core/utils/random_data.py
Labels: bug

#4700 fix: attributes resolver inCategory and inCollection
  CHANGELOG.md
  saleor/graphql/core/mutations.py
  saleor/graphql/product/filters.py
  saleor/graphql/product/resolvers.py
  saleor/graphql/product/schema.py
  saleor/graphql/schema.graphql
  saleor/product/models.py
  tests/api/test_attributes.py
Labels: bug, graphql

#4778 Fixed crash of sale form when required values are missing
  CHANGELOG.md
  saleor/dashboard/discount/forms.py
  tests/dashboard/test_discounts.py
Labels: bug, dashboard 1.0

#4777 Fixed picker and add to cart of variants without attributes
  saleor/product/views.py
  saleor/static/js/components/checkout.js
Labels: attributes, bug, storefront 1.0

#4776 Fixed the internal error filtering pages by URL in the dashboard 1.0
  CHANGELOG.md
  saleor/dashboard/page/filters.py
  tests/dashboard/test_page.py
Labels: bug, dashboard 1.0

#4749 Bulk variant create in graphql API
  CHANGELOG.md
  saleor/graphql/account/mutations/base.py
  saleor/graphql/core/mutations.py
  saleor/graphql/core/types/common.py
  saleor/graphql/product/bulk_mutations/products.py
  saleor/graphql/product/schema.py
  saleor/graphql/schema.graphql
  tests/api/test_variant.py
Labels: graphql
