Repository saleor/saleor, pull requests merged in 2021-01, with the labels that each got.

#6624 Introduce page reference attributes
  saleor/attribute/__init__.py
  saleor/attribute/migrations/0004_auto_20201204_1325.py
  saleor/attribute/migrations/0005_add_assignedattributevalues.py
  saleor/attribute/models/__init__.py
  saleor/attribute/models/base.py
  saleor/attribute/models/page.py
  saleor/attribute/models/product.py
  saleor/attribute/models/product_variant.py
  saleor/attribute/tests/test_utils.py
  saleor/core/management/commands/populatedb.py
  saleor/core/tests/test_core.py
  saleor/core/utils/random_data.py
  saleor/csv/tests/export/products_data/test_get_products_data.py
  saleor/csv/tests/export/products_data/test_handle_relations_data.py
  saleor/csv/tests/export/products_data/utils.py
  saleor/csv/utils/__init__.py
  saleor/csv/utils/products_data.py
  saleor/graphql/attribute/descriptions.py
  saleor/graphql/attribute/enums.py
  saleor/graphql/attribute/mutations.py
  saleor/graphql/attribute/tests/mutations/test_attribute_create.py
  saleor/graphql/attribute/tests/queries/test_attribute_query.py
  saleor/graphql/attribute/tests/test_utils.py
  saleor/graphql/attribute/types.py
  saleor/graphql/attribute/utils.py
  saleor/graphql/core/types/common.py
  saleor/graphql/page/dataloaders.py
  saleor/graphql/page/mutations/attributes.py
  saleor/graphql/page/schema.py
  saleor/graphql/page/tests/test_page.py
  saleor/graphql/page/tests/test_page_reorder_attribute_values.py
  saleor/graphql/product/dataloaders/attributes.py
  saleor/graphql/product/mutations/attributes.py
  saleor/graphql/product/mutations/products.py
  saleor/graphql/product/schema.py
  saleor/graphql/product/tests/test_attributes.py
  saleor/graphql/product/tests/test_product.py
  saleor/graphql/product/tests/test_product_sorting_attributes.py
  saleor/graphql/product/tests/test_variant.py
  saleor/graphql/schema.graphql
  saleor/product/tests/test_get_variant_selection_attributes.py
  saleor/static/populatedb_data.json
  saleor/tests/fixtures.py
Labels: feature branch, test deployment

#6711 Introduce product reference attributes
  CHANGELOG.md
  saleor/attribute/__init__.py
  saleor/attribute/migrations/0006_auto_20210105_1031.py
  saleor/csv/tests/export/products_data/test_get_products_data.py
  saleor/csv/tests/export/products_data/test_handle_relations_data.py
  saleor/graphql/attribute/tests/mutations/test_attribute_create.py
  saleor/graphql/attribute/tests/queries/test_attribute_query.py
  saleor/graphql/attribute/utils.py
  saleor/graphql/page/tests/test_page.py
  saleor/graphql/page/tests/test_page_reorder_attribute_values.py
  saleor/graphql/product/tests/test_attributes.py
  saleor/graphql/product/tests/test_product.py
  saleor/graphql/product/tests/test_variant.py
  saleor/graphql/schema.graphql
  saleor/product/tests/test_get_variant_selection_attributes.py
  saleor/static/populatedb_data.json
  saleor/tests/fixtures.py
Labels: feature branch

#6744 Revert major upgrade of pytest-xdist and django-countries due to incompatibilities
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
Labels: blocker

#6630 Possibility to return product
  saleor/graphql/order/mutations/fulfillments.py
  saleor/graphql/order/mutations/orders.py
  saleor/graphql/order/schema.py
  saleor/graphql/order/tests/test_fulfillment.py
  saleor/graphql/order/tests/test_fulfillment_refund_products.py
  saleor/graphql/order/tests/test_fulfillment_return_products.py
  saleor/graphql/order/tests/test_order.py
  saleor/graphql/order/types.py
  saleor/graphql/schema.graphql
  saleor/order/__init__.py
  saleor/order/actions.py
  saleor/order/error_codes.py
  saleor/order/events.py
  saleor/order/migrations/0097_auto_20210107_1148.py
  saleor/order/models.py
  saleor/order/tests/test_order.py
  saleor/order/tests/test_order_actions.py
  saleor/order/tests/test_order_actions_create_fulfillments_for_returned_products.py
  saleor/order/tests/test_order_actions_refund_products.py
  saleor/order/utils.py
  saleor/payment/gateway.py
  saleor/payment/models.py
  saleor/payment/tests/test_gateway.py
  saleor/payment/utils.py
  saleor/tests/fixtures.py
Labels: feature branch, test deployment

#6692 Change type of description field from String to JSONString
  CHANGELOG.md
  saleor/core/sanitizers/__init__.py
  saleor/core/tests/test_editorjs.py
  saleor/core/tests/test_postgresql_search.py
  saleor/core/utils/editorjs.py
  saleor/core/utils/random_data.py
  saleor/discount/tests/test_discounts.py
  saleor/graphql/attribute/tests/queries/test_attribute_query.py
  saleor/graphql/page/mutations/pages.py
  saleor/graphql/page/tests/test_page.py
  saleor/graphql/page/types.py
  saleor/graphql/product/filters.py
  saleor/graphql/product/mutations/products.py
  saleor/graphql/product/tests/deprecated/test_collection.py
  saleor/graphql/product/tests/test_category.py
  saleor/graphql/product/tests/test_collection.py
  saleor/graphql/product/tests/test_product.py
  saleor/graphql/product/tests/test_product_filtering_and_sorting_with_channels.py
  saleor/graphql/product/tests/test_product_pagination.py
  saleor/graphql/product/types/products.py
  saleor/graphql/schema.graphql
  saleor/graphql/translations/mutations.py
  saleor/graphql/translations/types.py
  saleor/page/migrations/0016_auto_20201112_0904.py
  saleor/page/migrations/0018_migrate_content_json_into_content.py
  saleor/page/models.py
  saleor/product/migrations/0131_auto_20201112_0904.py
  saleor/product/migrations/0138_migrate_description_json_into_description.py
  saleor/product/migrations/0139_description_vector_search.py
  saleor/product/models.py
  saleor/product/tests/test_translation.py
  saleor/search/__init__.py
  saleor/search/backends/__init__.py
  saleor/search/backends/picker.py
  saleor/search/backends/postgresql.py
  saleor/search/backends/postgresql_storefront.py
  saleor/search/management/__init__.py
  saleor/search/management/commands/__init__.py
  saleor/search/migrations/__init__.py
  saleor/settings.py
  saleor/static/populatedb_data.json
  saleor/tests/fixtures.py
  saleor/tests/settings.py
  saleor/tests/utils.py
Labels: test deployment

#6796 Add swatch attribute input type
  saleor/attribute/__init__.py
  saleor/attribute/migrations/0009_auto_20210126_1412.py
  saleor/attribute/models/base.py
  saleor/graphql/attribute/descriptions.py
  saleor/graphql/attribute/mutations.py
  saleor/graphql/attribute/tests/mutations/test_attribute_create.py
  saleor/graphql/attribute/tests/mutations/test_attribute_value_create.py
  saleor/graphql/attribute/tests/mutations/test_attribute_value_update.py
  saleor/graphql/attribute/tests/queries/test_attribute_query.py
  saleor/graphql/attribute/types.py
  saleor/graphql/product/tests/test_product.py
  saleor/graphql/product/tests/test_variant.py
  saleor/graphql/schema.graphql
  saleor/product/tests/test_get_variant_selection_attributes.py
  saleor/tests/fixtures.py
Labels: attributes
