Repository saleor/saleor, pull requests merged in 2021-06, with the labels that each got.

#7378 Unify channel ID params
  CHANGELOG.md
  saleor/channel/error_codes.py
  saleor/graphql/channel/mutations.py
  saleor/graphql/channel/tests/test_channel_delete_mutations.py
  saleor/graphql/order/mutations/draft_orders.py
  saleor/graphql/order/tests/test_order.py
  saleor/graphql/plugins/mutations.py
  saleor/graphql/plugins/tests/test_mutation_plugin_update.py
  saleor/graphql/schema.graphql
Labels: approved-breaking-change, blocked, test deployment

#7426 Fix resolve_report_product_sales performance
  saleor/graphql/product/resolvers.py
Labels: performance

#7424 Fix performance of order events
  CHANGELOG.md
  saleor/graphql/order/dataloaders.py
  saleor/graphql/order/tests/test_order.py
  saleor/graphql/order/types.py
Labels: performance

#7341 Add pagination for attributes values
  saleor/attribute/migrations/0011_attributevalue_attribute_a_name_9f3448_gin.py
  saleor/attribute/models/base.py
  saleor/graphql/attribute/filters.py
  saleor/graphql/attribute/sorters.py
  saleor/graphql/attribute/tests/benchmark/test_attribute.py
  saleor/graphql/attribute/tests/mutations/test_attribute_create.py
  saleor/graphql/attribute/tests/mutations/test_attribute_reorder_values.py
  saleor/graphql/attribute/tests/mutations/test_attribute_update.py
  saleor/graphql/attribute/tests/mutations/test_attribute_value_create.py
  saleor/graphql/attribute/tests/mutations/test_attribute_value_update.py
  saleor/graphql/attribute/tests/queries/test_attribute_filter.py
  saleor/graphql/attribute/tests/queries/test_attribute_query.py
  saleor/graphql/attribute/tests/queries/test_attributes_sort.py
  saleor/graphql/attribute/types.py
  saleor/graphql/core/tests/test_graphql.py
  saleor/graphql/page/tests/benchmark/test_page_type.py
  saleor/graphql/product/tests/benchmark/test_category.py
  saleor/graphql/product/tests/benchmark/test_collection.py
  saleor/graphql/product/tests/benchmark/test_variant.py
  saleor/graphql/product/tests/test_collection.py
  saleor/graphql/product/tests/test_product.py
  saleor/graphql/product/tests/test_variant.py
  saleor/graphql/schema.graphql
  saleor/graphql/translations/tests/test_translations.py
  saleor/tests/fixtures.py
Labels: approved-breaking-change, feature branch, test deployment

#7044 Payment webhooks
  CHANGELOG.md
  saleor/app/models.py
  saleor/app/tests/test_models.py
  saleor/core/permissions.py
  saleor/graphql/payment/mutations.py
  saleor/graphql/payment/types.py
  saleor/graphql/schema.graphql
  saleor/payment/gateways/authorize_net/tests/test_authorize_net.py
  saleor/payment/interface.py
  saleor/payment/migrations/0029_alter_payment_options.py
  saleor/payment/models.py
  saleor/payment/utils.py
  saleor/plugins/base_plugin.py
  saleor/plugins/manager.py
  saleor/plugins/webhook/plugin.py
  saleor/plugins/webhook/tasks.py
  saleor/plugins/webhook/tests/test_payment_webhook.py
  saleor/plugins/webhook/tests/test_payment_webhook_utils.py
  saleor/plugins/webhook/utils.py
  saleor/tests/fixtures.py
  saleor/webhook/event_types.py
  saleor/webhook/migrations/0007_auto_20210319_0945.py
  saleor/webhook/models.py
  saleor/webhook/payloads.py
  saleor/webhook/tests/test_webhook_payloads.py
Labels: test deployment

#7461 Bump requirements
  requirements.txt
  requirements_dev.txt
Labels: test deployment

#7467 Remove unused field(costPrice) from ProductVariant
  saleor/graphql/product/tests/benchmark/test_variant.py
  saleor/graphql/product/tests/test_variant.py
  saleor/graphql/product/types/products.py
  saleor/graphql/schema.graphql
Labels: approved-breaking-change

#7466 Remove unneeded packages
  .isort.cfg
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  saleor/product/management/commands/update_all_products_discounted_prices.py
Labels: test deployment

#7491 Bump requirements
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
Labels: test deployment

#7481 Unify warehouse address API
  CHANGELOG.md
  saleor/graphql/schema.graphql
  saleor/graphql/warehouse/filters.py
  saleor/graphql/warehouse/tests/test_warehouse.py
  saleor/graphql/warehouse/types.py
  saleor/warehouse/migrations/0014_remove_warehouse_company_name.py
  saleor/warehouse/models.py
Labels: approved-breaking-change, blocked, test deployment

#7454 [SALEOR-3090] Boolean attributes
  CHANGELOG.md
  saleor/attribute/__init__.py
  saleor/attribute/migrations/0013_auto_20210609_2245.py
  saleor/attribute/models/base.py
  saleor/csv/tests/export/products_data/test_get_products_data.py
  saleor/csv/tests/export/products_data/test_handle_relations_data.py
  saleor/csv/tests/export/products_data/utils.py
  saleor/csv/utils/__init__.py
  saleor/csv/utils/products_data.py
  saleor/graphql/attribute/descriptions.py
  saleor/graphql/attribute/types.py
  saleor/graphql/attribute/utils.py
  saleor/graphql/product/filters.py
  saleor/graphql/product/tests/benchmark/test_product.py
  saleor/graphql/product/tests/test_product.py
  saleor/graphql/product/tests/test_variant.py
  saleor/graphql/schema.graphql
  saleor/static/populatedb_data.json
  saleor/tests/fixtures.py
Labels: test deployment

#7494 Add logic to handle staff discounts
  saleor/checkout/tests/test_checkout.py
  saleor/core/jwt.py
  saleor/discount/migrations/0026_voucher_only_for_staff.py
  saleor/discount/models.py
  saleor/discount/tests/test_discounts.py
  saleor/discount/utils.py
  saleor/graphql/checkout/mutations.py
  saleor/graphql/discount/mutations.py
  saleor/graphql/discount/types.py
  saleor/graphql/schema.graphql
  saleor/order/tests/test_order.py
Labels: test deployment

#7499 Allow to filter by metadata key
  saleor/graphql/core/filters.py
  saleor/graphql/meta/tests/test_meta_filters.py
  saleor/graphql/schema.graphql
Labels: approved-breaking-change

#7253 Update draft order validation
  CHANGELOG.md
  saleor/graphql/account/mutations/base.py
  saleor/graphql/core/mutations.py
  saleor/graphql/core/types/common.py
  saleor/graphql/order/mutations/fulfillments.py
  saleor/graphql/order/tests/benchmark/test_fulfillment_refund_and_return_products.py
  saleor/graphql/order/tests/test_fulfillment.py
  saleor/graphql/order/tests/test_fulfillment_refund_products.py
  saleor/graphql/order/tests/test_fulfillment_return_products.py
  saleor/graphql/order/tests/test_order.py
  saleor/graphql/order/types.py
  saleor/graphql/order/utils.py
  saleor/graphql/product/bulk_mutations/products.py
  saleor/graphql/product/mutations/products.py
  saleor/graphql/product/tests/test_bulk_delete.py
  saleor/graphql/product/tests/test_product.py
  saleor/graphql/product/tests/test_variant.py
  saleor/graphql/product/utils.py
  saleor/graphql/schema.graphql
  saleor/order/__init__.py
  saleor/order/events.py
  saleor/order/migrations/0112_auto_20210616_0548.py
Labels: approved-breaking-change, blocked, test deployment

#7538 Bump requirements
  requirements.txt
  requirements_dev.txt
Labels: test deployment

#7374 Use root level channel argument for filtering and sorting
  CHANGELOG.md
  saleor/graphql/attribute/filters.py
  saleor/graphql/attribute/schema.py
  saleor/graphql/attribute/tests/deprecated/__init__.py
  saleor/graphql/attribute/tests/deprecated/test_attributes.py
  saleor/graphql/attribute/tests/queries/test_attribute_filter.py
  saleor/graphql/attribute/tests/queries/test_attribute_filtering_with_channels.py
  saleor/graphql/attribute/tests/queries/test_attribute_pagination.py
  saleor/graphql/attribute/tests/queries/test_attribute_query.py
  saleor/graphql/channel/filters.py
  saleor/graphql/channel/sorters.py
  saleor/graphql/core/fields.py
  saleor/graphql/core/tests/test_graphql.py
  saleor/graphql/core/types/__init__.py
  saleor/graphql/core/types/filter_input.py
  saleor/graphql/core/types/sort_input.py
  saleor/graphql/discount/sorters.py
  saleor/graphql/discount/tests/deprecated/__init__.py
  saleor/graphql/discount/tests/deprecated/test_discount.py
  saleor/graphql/discount/tests/test_pagination.py
  saleor/graphql/discount/tests/test_sale_sorting_with_channels.py
  saleor/graphql/discount/tests/test_voucher_sorting_with_channels.py
  saleor/graphql/product/filters.py
  saleor/graphql/product/sorters.py
  saleor/graphql/product/tests/benchmark/test_category.py
  saleor/graphql/product/tests/benchmark/test_collection.py
  saleor/graphql/product/tests/deprecated/test_product.py
  saleor/graphql/product/tests/test_collection.py
  saleor/graphql/product/tests/test_collection_filtering_and_sorting_with_channels.py
  saleor/graphql/product/tests/test_product.py
  saleor/graphql/product/tests/test_product_filtering_and_sorting_with_channels.py
  saleor/graphql/product/tests/test_product_pagination.py
  saleor/graphql/product/tests/test_product_sorting.py
  saleor/graphql/schema.graphql
  saleor/graphql/utils/sorting.py
Labels: approved-breaking-change, blocked, test deployment

#7425 Fix attribute input validation for numeric attributes
  saleor/graphql/attribute/types.py
  saleor/graphql/attribute/utils.py
  saleor/graphql/product/bulk_mutations/products.py
  saleor/graphql/product/mutations/products.py
  saleor/graphql/product/tests/benchmark/test_variant.py
  saleor/graphql/product/tests/test_product.py
  saleor/graphql/product/tests/test_variant.py
  saleor/graphql/schema.graphql
Labels: approved-breaking-change, test deployment

#7522 Deprecate nested objects in TranslatableContent types
  CHANGELOG.md
  saleor/graphql/schema.graphql
  saleor/graphql/translations/tests/deprecated/__init__.py
  saleor/graphql/translations/tests/deprecated/test_translations.py
  saleor/graphql/translations/tests/test_translations.py
  saleor/graphql/translations/types.py
Labels: approved-breaking-change

#7561 Bump requirements
  .pre-commit-config.yaml
  poetry.lock
  requirements.txt
  requirements_dev.txt
Labels: test deployment
