Repository saleor/saleor, pull requests merged in 2021-03, with the labels that each got.

#6930 Possibility to apply discount on order
  CHANGELOG.md
  saleor/checkout/complete_checkout.py
  saleor/discount/__init__.py
  saleor/discount/migrations/0024_orderdiscount.py
  saleor/discount/models.py
  saleor/graphql/core/mutations.py
  saleor/graphql/discount/dataloaders.py
  saleor/graphql/discount/types.py
  saleor/graphql/order/filters.py
  saleor/graphql/order/mutations/discount_order.py
  saleor/graphql/order/mutations/draft_orders.py
  saleor/graphql/order/mutations/orders.py
  saleor/graphql/order/schema.py
  saleor/graphql/order/tests/benchmark/test_order.py
  saleor/graphql/order/tests/test_discount_order.py
  saleor/graphql/order/tests/test_order.py
  saleor/graphql/order/tests/test_pagination.py
  saleor/graphql/order/types.py
  saleor/graphql/schema.graphql
  saleor/order/__init__.py
  saleor/order/error_codes.py
  saleor/order/events.py
  saleor/order/migrations/0098_discounts_relation.py
  saleor/order/migrations/0099_auto_20210209_0856.py
  saleor/order/migrations/0100_auto_20210216_0914.py
  saleor/order/models.py
  saleor/order/tests/test_order.py
  saleor/order/utils.py
  saleor/plugins/avatax/__init__.py
  saleor/tests/fixtures.py
  saleor/webhook/payloads.py
  saleor/webhook/tests/test_webhook_payloads.py
Labels: feature branch, test deployment

#6965 Assing variants to channel
  saleor/graphql/channel/mutations.py
  saleor/graphql/core/types/common.py
  saleor/graphql/product/mutations/channels.py
  saleor/graphql/product/tests/test_product_channel_listing_update.py
  saleor/graphql/schema.graphql
  saleor/product/migrations/0142_auto_20210304_1052.py
  saleor/product/models.py
Labels: approved-breaking-change

#6838 Rename ProductImage to ProductMedia, update the migrations, change tests
  .isort.cfg
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  saleor/core/management/commands/create_thumbnails.py
  saleor/core/tests/test_core.py
  saleor/core/utils/random_data.py
  saleor/core/utils/validators.py
  saleor/csv/tests/export/products_data/test_get_products_data.py
  saleor/csv/tests/export/products_data/test_handle_relations_data.py
  saleor/csv/utils/__init__.py
  saleor/csv/utils/export.py
  saleor/csv/utils/products_data.py
  saleor/graphql/core/tests/test_core.py
  saleor/graphql/core/tests/test_view.py
  saleor/graphql/product/bulk_mutations/products.py
  saleor/graphql/product/dataloaders/__init__.py
  saleor/graphql/product/dataloaders/products.py
  saleor/graphql/product/mutations/products.py
  saleor/graphql/product/schema.py
  saleor/graphql/product/tests/benchmark/test_product.py
  saleor/graphql/product/tests/test_bulk_delete.py
  saleor/graphql/product/tests/test_product.py
  saleor/graphql/product/tests/test_variant.py
  saleor/graphql/product/types/__init__.py
  saleor/graphql/product/types/products.py
  saleor/graphql/schema.graphql
  saleor/order/emails.py
  saleor/product/__init__.py
  saleor/product/error_codes.py
  saleor/product/migrations/0143_rename_product_images_to_product_media.py
  saleor/product/models.py
  saleor/product/tests/test_product.py
  saleor/product/thumbnails.py
  saleor/tests/fixtures.py
  saleor/tests/runner.py
  saleor/webhook/payloads.py
  saleor/webhook/tests/test_webhook_payloads.py
Labels: approved-breaking-change, test deployment

#7023 Assing variants to channel listings
  saleor/checkout/error_codes.py
  saleor/graphql/channel/mutations.py
  saleor/graphql/checkout/mutations.py
  saleor/graphql/checkout/tests/test_checkout.py
  saleor/graphql/checkout/tests/test_checkout_complete.py
  saleor/graphql/core/tests/test_graphql.py
  saleor/graphql/core/types/common.py
  saleor/graphql/order/tests/test_order.py
  saleor/graphql/order/utils.py
  saleor/graphql/product/dataloaders/__init__.py
  saleor/graphql/product/dataloaders/products.py
  saleor/graphql/product/filters.py
  saleor/graphql/product/mutations/channels.py
  saleor/graphql/product/resolvers.py
  saleor/graphql/product/schema.py
  saleor/graphql/product/sorters.py
  saleor/graphql/product/tests/test_collection.py
  saleor/graphql/product/tests/test_product.py
  saleor/graphql/product/tests/test_product_channel_listing_update.py
  saleor/graphql/product/tests/test_product_pagination.py
  saleor/graphql/product/types/channels.py
  saleor/graphql/product/types/products.py
  saleor/graphql/schema.graphql
  saleor/product/migrations/0144_auto_20210318_1155.py
  saleor/product/models.py
Labels: approved-breaking-change, test deployment

#6981 Specify shipping zones for channels
  saleor/channel/error_codes.py
  saleor/checkout/complete_checkout.py
  saleor/checkout/tests/test_cart.py
  saleor/checkout/tests/test_checkout_complete.py
  saleor/checkout/utils.py
  saleor/core/utils/random_data.py
  saleor/graphql/channel/dataloaders.py
  saleor/graphql/channel/mutations.py
  saleor/graphql/channel/tests/test_channel_create_mutations.py
  saleor/graphql/channel/tests/test_channel_update_mutations.py
  saleor/graphql/channel/types.py
  saleor/graphql/checkout/mutations.py
  saleor/graphql/checkout/tests/benchmark/conftest.py
  saleor/graphql/checkout/tests/test_checkout.py
  saleor/graphql/checkout/tests/test_checkout_digital.py
  saleor/graphql/core/types/common.py
  saleor/graphql/order/mutations/draft_orders.py
  saleor/graphql/order/tests/benchmark/test_order.py
  saleor/graphql/order/tests/test_fulfillment.py
  saleor/graphql/order/tests/test_order.py
  saleor/graphql/order/utils.py
  saleor/graphql/product/filters.py
  saleor/graphql/product/resolvers.py
  saleor/graphql/product/tests/test_product.py
  saleor/graphql/product/tests/test_product_pagination.py
  saleor/graphql/product/tests/test_variant.py
  saleor/graphql/product/tests/test_variant_availability.py
  saleor/graphql/product/types/products.py
  saleor/graphql/schema.graphql
  saleor/graphql/shipping/dataloaders.py
  saleor/graphql/shipping/filters.py
  saleor/graphql/shipping/mutations/channels.py
  saleor/graphql/shipping/mutations/shippings.py
  saleor/graphql/shipping/resolvers.py
  saleor/graphql/shipping/schema.py
  saleor/graphql/shipping/tests/test_shipping_method.py
  saleor/graphql/shipping/tests/test_shipping_method_channel_listing_update.py
  saleor/graphql/shipping/tests/test_shipping_zones_query.py
  saleor/graphql/shipping/types.py
  saleor/graphql/shop/resolvers.py
  saleor/graphql/shop/tests/benchmark/test_homepage.py
  saleor/graphql/shop/tests/test_shop.py
  saleor/graphql/warehouse/dataloaders.py
  saleor/graphql/warehouse/tests/test_stock.py
  saleor/order/actions.py
  saleor/order/tests/test_fulfullments_actions.py
  saleor/order/tests/test_order_utils.py
  saleor/plugins/avatax/tests/test_avatax.py
  saleor/plugins/vatlayer/tests/test_vatlayer.py
  saleor/shipping/migrations/0029_shippingzone_channels.py
  saleor/shipping/models.py
  saleor/shipping/tests/test_shipping.py
  saleor/tests/fixtures.py
  saleor/warehouse/availability.py
  saleor/warehouse/management.py
  saleor/warehouse/models.py
  saleor/warehouse/tests/test_stock.py
  saleor/warehouse/tests/test_stock_availability.py
  saleor/warehouse/tests/test_stock_management.py
  saleor/webhook/payloads.py
Labels: test deployment

#7046 Fix duplicate creation event when opening pull requests
  .github/workflows/test-env-deploy.yml
Labels: bug, test deployment

#7062 Extend Transaction type with gateway response and Payment type with filter
  CHANGELOG.md
  saleor/graphql/payment/filters.py
  saleor/graphql/payment/schema.py
  saleor/graphql/payment/tests/test_payment.py
  saleor/graphql/payment/types.py
  saleor/graphql/schema.graphql
  saleor/payment/migrations/0024_auto_20210326_0837.py
  saleor/payment/models.py
  saleor/tests/fixtures.py
Labels: approved-breaking-change

#7061 Add benchmarks for triggered product updated webhook
  CHANGELOG.md
  saleor/graphql/product/bulk_mutations/products.py
  saleor/graphql/product/tests/benchmark/test_category.py
  saleor/graphql/product/tests/benchmark/test_collection.py
  saleor/graphql/product/tests/benchmark/test_product.py
  saleor/graphql/product/tests/benchmark/test_product_variant_channel_listing_update.py
  saleor/graphql/product/tests/benchmark/test_variant.py
  saleor/graphql/product/tests/test_variant.py
  saleor/graphql/schema.graphql
Labels: in progress, test deployment

#7074 Fix trigger conditions in test env deployment workflow
  .github/workflows/test-env-deploy.yml
Labels: bug
