Repository saleor/saleor, pull requests merged in 2021-05, with the labels that each got.

#7256 Remove order QS distincts in favor of Exists, OuterRef
  saleor/graphql/order/filters.py
  saleor/order/models.py
Labels: performance

#7088 Do not update draft order addresses when user is changing
  CHANGELOG.md
  saleor/graphql/account/i18n.py
  saleor/graphql/account/mutations/account.py
  saleor/graphql/account/mutations/base.py
  saleor/graphql/account/tests/test_account.py
  saleor/graphql/checkout/mutations.py
  saleor/graphql/checkout/tests/test_checkout.py
  saleor/graphql/core/types/common.py
  saleor/graphql/order/mutations/draft_orders.py
  saleor/graphql/order/tests/test_order.py
  saleor/graphql/schema.graphql
  saleor/graphql/shop/mutations.py
Labels: blocked, test deployment

#7301 Order payment by order, is_active, charge_status index
  saleor/payment/migrations/0025_auto_20210506_0750.py
  saleor/payment/models.py
Labels: performance

#7320 Change the way of creating refund/return fulfillments
  saleor/graphql/order/mutations/fulfillments.py
  saleor/order/actions.py
  saleor/order/tests/test_order_actions_create_fulfillments_for_returned_products.py
  saleor/order/tests/test_order_actions_refund_products.py
Labels: test deployment

#7327 Fix created customer address not saving
  CHANGELOG.md
  saleor/graphql/account/mutations/base.py
  saleor/graphql/account/tests/test_account.py
Labels: bug

#7295 Drop ShippingZones field from Channel Type
  saleor/graphql/channel/tests/test_channel_create_mutations.py
  saleor/graphql/channel/tests/test_channel_update_mutations.py
  saleor/graphql/channel/types.py
  saleor/graphql/schema.graphql
  saleor/graphql/shipping/filters.py
  saleor/graphql/shipping/tests/test_shipping_zones_query.py
Labels: approved-breaking-change, test deployment

#7346 Fix incorrect assigment of channel value for password reset mutation
  saleor/graphql/account/mutations/base.py
  saleor/graphql/account/tests/test_account.py
Labels: test deployment

#7333 Add traced_atomic_transaction decorator
  saleor/checkout/complete_checkout.py
  saleor/core/tracing.py
  saleor/core/transactions.py
  saleor/graphql/account/mutations/account.py
  saleor/graphql/account/mutations/base.py
  saleor/graphql/account/mutations/permission_group.py
  saleor/graphql/account/mutations/staff.py
  saleor/graphql/attribute/mutations.py
  saleor/graphql/channel/mutations.py
  saleor/graphql/checkout/mutations.py
  saleor/graphql/discount/mutations.py
  saleor/graphql/menu/mutations.py
  saleor/graphql/order/mutations/discount_order.py
  saleor/graphql/order/mutations/draft_orders.py
  saleor/graphql/order/mutations/orders.py
  saleor/graphql/page/mutations/attributes.py
  saleor/graphql/page/mutations/pages.py
  saleor/graphql/product/bulk_mutations/products.py
  saleor/graphql/product/mutations/attributes.py
  saleor/graphql/product/mutations/channels.py
  saleor/graphql/product/mutations/products.py
  saleor/graphql/product/utils.py
  saleor/graphql/shipping/mutations/channels.py
  saleor/graphql/shipping/mutations/shippings.py
  saleor/graphql/translations/mutations.py
  saleor/order/actions.py
  saleor/order/utils.py
  saleor/payment/gateway.py
  saleor/payment/utils.py
  saleor/product/utils/__init__.py
  saleor/warehouse/management.py
  saleor/wishlist/models.py
Labels: tracing

#7376 Fix invoice file generation
  CHANGELOG.md
  saleor/plugins/invoicing/plugin.py
Labels: bug, test deployment

#7363 Allow defining only one field in translations
  CHANGELOG.md
  saleor/graphql/schema.graphql
  saleor/graphql/translations/tests/test_translations.py
  saleor/page/migrations/0022_alter_pagetranslation_title.py
  saleor/page/models.py
  saleor/product/migrations/0146_auto_20210518_0945.py
  saleor/product/models.py
Labels: approved-breaking-change, test deployment

#7356 Handle a new tax types categories returned by vatlayer
  saleor/graphql/core/enums.py
  saleor/graphql/core/types/money.py
  saleor/graphql/schema.graphql
  saleor/graphql/shop/tests/test_shop_taxes.py
  saleor/plugins/vatlayer/__init__.py
  saleor/plugins/vatlayer/plugin.py
Labels: test deployment

#7396 Performance fix for input_type resolver on AttributeValue
  CHANGELOG.md
  saleor/graphql/attribute/types.py
  saleor/graphql/decorators.py
Labels: performance

#7372 Change values to choices on AttributeType
  saleor/graphql/attribute/sorters.py
  saleor/graphql/attribute/tests/benchmark/test_attribute.py
  saleor/graphql/attribute/tests/mutations/test_attribute_create.py
  saleor/graphql/attribute/tests/mutations/test_attribute_reorder_values.py
  saleor/graphql/attribute/tests/mutations/test_attribute_update.py
  saleor/graphql/attribute/tests/mutations/test_attribute_value_create.py
  saleor/graphql/attribute/tests/mutations/test_attribute_value_update.py
  saleor/graphql/attribute/tests/queries/test_attribute_filter.py
  saleor/graphql/attribute/tests/queries/test_attribute_query.py
  saleor/graphql/attribute/tests/queries/test_attributes_sort.py
  saleor/graphql/attribute/types.py
  saleor/graphql/core/tests/test_graphql.py
  saleor/graphql/page/tests/benchmark/test_page_type.py
  saleor/graphql/product/tests/benchmark/test_category.py
  saleor/graphql/product/tests/benchmark/test_collection.py
  saleor/graphql/product/tests/benchmark/test_variant.py
  saleor/graphql/product/tests/test_collection.py
  saleor/graphql/product/tests/test_product.py
  saleor/graphql/product/tests/test_variant.py
  saleor/graphql/schema.graphql
  saleor/graphql/translations/tests/test_translations.py
  saleor/tests/fixtures.py
Labels: approved-breaking-change
